## ASSIGNMENT 4: Data Summarization & Grouping

### Q4.1: Basic GroupBy
#### Group sales data by Region and calculate total revenue per region.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('assignment4_sales_transactions(in).csv')
df

,TransactionID,Date,Region,Category,ProductName,Quantity,UnitPrice,CustomerType,Revenue
0,5001,9/24/2024,North,Accessories,Tablet,39,99,Retail,3861
1,5002,7/1/2024,Central,Accessories,Monitor,35,499,Wholesale,17465
2,5003,1/13/2024,North,Accessories,Tablet,3,99,Corporate,297
3,5004,10/5/2024,North,Electronics,Tablet,37,199,Wholesale,7363
4,5005,8/4/2024,East,Software,Laptop,44,799,Wholesale,35156
...,...,...,...,...,...,...,...,...,...
195,5196,1/23/2024,West,Software,Laptop,11,499,Wholesale,5489
196,5197,2/22/2024,Central,Accessories,Keyboard,41,499,Corporate,20459
197,5198,6/13/2024,East,Software,Tablet,3,99,Retail,297
198,5199,7/20/2024,East,Electronics,Phone,28,99,Wholesale,2772
199,5200,3/23/2024,North,Software,Laptop,29,799,Wholesale,23171

In [4]:
Total_revenue = df.groupby('Region')['Revenue'].sum()
Total_revenue

Region
Central    686469
East       514120
North      674732
South      667313
West       497216
Name: Revenue, dtype: int64

### Q4.2: Multi-column GroupBy
#### Group by both Region and Category, showing transaction count and total revenue for each combination.

In [5]:
category_region = df.groupby(['Region', 'Category']).agg({'TransactionID' : 'count', 'Revenue' : 'sum'}).rename(columns={'TransactionID':'transaction_count'}).reset_index()
category_region

     Region     Category  transaction_count  Revenue
0   Central  Accessories                 16   238640
1   Central  Electronics                  8    75852
2   Central     Software                 12   371977
3      East  Accessories                  8   122736
4      East  Electronics                 17   206977
5      East     Software                 18   184407
6     North  Accessories                 20   379503
7     North  Electronics                 11   125602
8     North     Software                 11   169627
9     South  Accessories                  9   127423
10    South  Electronics                 18   278286
11    South     Software                 16   261604
12     West  Accessories                 11   191794
13     West  Electronics                 14   139127
14     West     Software                 11   166295

### Q4.3: Average Quantity Analysis
#### Calculate the average quantity sold per region and sort in descending order.

In [6]:
avg_quantity = round(df.groupby('Region')['Quantity'].mean().sort_values(ascending = False),2)
avg_quantity

Region
Central    28.64
North      27.81
South      27.60
East       25.12
West       21.78
Name: Quantity, dtype: float64

### Q4.4: Pivot Table Creation
#### Create a pivot table with Region as rows, Category as columns, and sum of Revenue as values.

In [7]:
pivot = pd.pivot_table(df, values = 'Revenue', index = 'Region', columns ='Category', aggfunc = 'sum').reset_index()
pivot

Category   Region  Accessories  Electronics  Software
0         Central       238640        75852    371977
1            East       122736       206977    184407
2           North       379503       125602    169627
3           South       127423       278286    261604
4            West       191794       139127    166295

### Q4.5: Calculated Columns
#### Add a calculated column 'RevenuePerUnit' (Revenue / Quantity) for each transaction.

In [8]:
df['RevenuePerUnit'] = df['Revenue']/df['Quantity']

In [9]:
df

,TransactionID,Date,Region,Category,ProductName,Quantity,UnitPrice,CustomerType,Revenue,RevenuePerUnit
0,5001,9/24/2024,North,Accessories,Tablet,39,99,Retail,3861,99.0
1,5002,7/1/2024,Central,Accessories,Monitor,35,499,Wholesale,17465,499.0
2,5003,1/13/2024,North,Accessories,Tablet,3,99,Corporate,297,99.0
3,5004,10/5/2024,North,Electronics,Tablet,37,199,Wholesale,7363,199.0
4,5005,8/4/2024,East,Software,Laptop,44,799,Wholesale,35156,799.0
...,...,...,...,...,...,...,...,...,...,...
195,5196,1/23/2024,West,Software,Laptop,11,499,Wholesale,5489,499.0
196,5197,2/22/2024,Central,Accessories,Keyboard,41,499,Corporate,20459,499.0
197,5198,6/13/2024,East,Software,Tablet,3,99,Retail,297,99.0
198,5199,7/20/2024,East,Electronics,Phone,28,99,Wholesale,2772,99.0
199,5200,3/23/2024,North,Software,Laptop,29,799,Wholesale,23171,799.0

### Q4.6: Top Products
#### Find the top 3 products by total revenue and display their sales details.

In [10]:
Top_3_products = df.groupby('ProductName')['Revenue'].sum().nlargest(3)
Top_3_products

ProductName
Phone       734124
Keyboard    703230
Tablet      631866
Name: Revenue, dtype: int64

### Q4.7: Customer Type Analysis
#### Group by CustomerType and calculate total revenue, transaction count, and average order value

In [11]:
summary = df.groupby('CustomerType').agg({'Revenue':['sum', 'count', 'mean']}).reset_index()
summary

  CustomerType  Revenue
                    sum count          mean
0    Corporate   850832    62  13723.096774
1       Retail   852872    63  13537.650794
2    Wholesale  1336146    75  17815.280000

### Q4.8: Composite Analysis
#### Identify which region-category combination has the highest average revenue per transaction.

In [12]:
high = round(df.groupby(["Region",'Category'])['Revenue'].mean(),2)
high

Region   Category
Central  Accessories    14915.00
         Electronics     9481.50
         Software       30998.08
East     Accessories    15342.00
         Electronics    12175.12
         Software       10244.83
North    Accessories    18975.15
         Electronics    11418.36
         Software       15420.64
South    Accessories    14158.11
         Electronics    15460.33
         Software       16350.25
West     Accessories    17435.82
         Electronics     9937.64
         Software       15117.73
Name: Revenue, dtype: float64

In [13]:
highest = high.idxmax()
highest

('Central', 'Software')

In [14]:
high.loc[highest]

np.float64(30998.08)

### Q4.9: Summary Report Export
#### Create a summary CSV showing region-wise performance metrics.

In [15]:
summary_metrics = round(df.groupby('Region').agg({'Revenue':['sum','mean','count'], 'Quantity':['sum','mean'], 'TransactionID': 'count'}),2).reset_index()
summary_metrics

    Region Revenue                 Quantity        TransactionID
               sum      mean count      sum   mean         count
0  Central  686469  19068.58    36     1031  28.64            36
1     East  514120  11956.28    43     1080  25.12            43
2    North  674732  16065.05    42     1168  27.81            42
3    South  667313  15518.91    43     1187  27.60            43
4     West  497216  13811.56    36      784  21.78            36

In [16]:
summary_metrics.to_csv("Summary.csv", index= False)

### Q4.10: Quarterly Summary
#### Generate a quarterly revenue summary grouped by region (requires Date extraction).

In [17]:
df['Date'] = pd.to_datetime(df['Date'])

In [18]:
df['Quater']= df['Date'].dt.quarter

In [19]:
Quaterly_summary = df.groupby(['Region', 'Quater'])['Revenue'].sum()
Quaterly_summary

Region   Quater
Central  1          77975
         2         122365
         3         333156
         4         152973
East     1         134255
         2         124937
         3         198266
         4          56662
North    1         266986
         2         131785
         3         179681
         4          96280
South    1         211096
         2         166858
         3         159425
         4         129934
West     1          18867
         2         272696
         3         114295
         4          91358
Name: Revenue, dtype: int64

In [20]:
Quaterly_summary = Quaterly_summary.unstack()

In [21]:
Quaterly_summary

Quater        1       2       3       4
Region
Central   77975  122365  333156  152973
East     134255  124937  198266   56662
North    266986  131785  179681   96280
South    211096  166858  159425  129934
West      18867  272696  114295   91358

### Challenge Extension
#### Challenge 1: Create a rolling 7-day revenue analysis.

In [22]:
df['Date'] = pd.to_datetime(df['Date'])

In [23]:
df = df.sort_values('Date')

In [24]:
df['7_day_revenue'] = df['Revenue'].rolling(window=7).mean()

In [60]:
df

,TransactionID,Date,Region,Category,ProductName,Quantity,UnitPrice,CustomerType,Revenue,RevenuePerUnit,Quater,7_day_revenue
125,5126,2024-01-01,West,Software,Tablet,3,799,Corporate,2397,799.0,1,NaN
96,5097,2024-01-01,North,Software,Keyboard,2,499,Corporate,998,499.0,1,NaN
168,5169,2024-01-05,South,Software,Monitor,6,799,Corporate,4794,799.0,1,NaN
61,5062,2024-01-05,East,Software,Laptop,30,799,Wholesale,23970,799.0,1,NaN
189,5190,2024-01-06,North,Accessories,Phone,25,499,Retail,12475,499.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6,5007,2024-12-26,Central,Accessories,Keyboard,30,99,Wholesale,2970,99.0,4,12760.285714
95,5096,2024-12-26,South,Software,Keyboard,44,199,Corporate,8756,199.0,4,13369.571429
78,5079,2024-12-29,Central,Software,Tablet,40,99,Corporate,3960,99.0,4,13878.714286
167,5168,2024-12-30,West,Accessories,Tablet,3,1299,Corporate,3897,1299.0,4,13184.571429
66,5067,2024-12-30,West,Electronics,Monitor,39,199,Retail,7761,199.0,4,13608.428571

### Challenge 2: Calculate month-over-month growth rates by region.

In [25]:
df['Date'] = pd.to_datetime(df['Date'])

In [26]:
df['Month'] = df['Date'].dt.to_period('M')

In [27]:
df['Month'] = df['Date'].dt.to_period('M')

In [28]:
monthly = df.groupby(['Region', 'Month'])['Revenue'].sum().reset_index()

In [29]:
monthly['MoM_Growth'] = monthly.groupby('Region')['Revenue'].pct_change() * 100

In [30]:
df

,TransactionID,Date,Region,Category,ProductName,Quantity,UnitPrice,CustomerType,Revenue,RevenuePerUnit,Quater,7_day_revenue,Month
125,5126,2024-01-01,West,Software,Tablet,3,799,Corporate,2397,799.0,1,NaN,2024-01
96,5097,2024-01-01,North,Software,Keyboard,2,499,Corporate,998,499.0,1,NaN,2024-01
168,5169,2024-01-05,South,Software,Monitor,6,799,Corporate,4794,799.0,1,NaN,2024-01
61,5062,2024-01-05,East,Software,Laptop,30,799,Wholesale,23970,799.0,1,NaN,2024-01
189,5190,2024-01-06,North,Accessories,Phone,25,499,Retail,12475,499.0,1,NaN,2024-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,5007,2024-12-26,Central,Accessories,Keyboard,30,99,Wholesale,2970,99.0,4,12760.285714,2024-12
95,5096,2024-12-26,South,Software,Keyboard,44,199,Corporate,8756,199.0,4,13369.571429,2024-12
78,5079,2024-12-29,Central,Software,Tablet,40,99,Corporate,3960,99.0,4,13878.714286,2024-12
167,5168,2024-12-30,West,Accessories,Tablet,3,1299,Corporate,3897,1299.0,4,13184.571429,2024-12
66,5067,2024-12-30,West,Electronics,Monitor,39,199,Retail,7761,199.0,4,13608.428571,2024-12

### Challenge 3: Generate a comprehensive business intelligence report with multiple views.

In [34]:
total_revenue   = df['Revenue'].sum()
avg_revenue     = df['Revenue'].mean()
num_products    = df['ProductName'].nunique()
num_categories  = df['Category'].nunique()
num_regions     = df['Region'].nunique()

print("Total Revenue        :", total_revenue)
print("Average Revenue      :", avg_revenue)
print("Unique Products      :", num_products)
print("Unique Categories    :", num_categories)
print("Regions Covered      :", num_regions)

Total Revenue        : 3039850
Average Revenue      : 15199.25
Unique Products      : 5
Unique Categories    : 3
Regions Covered      : 5