In [1]:
print("Sri")  #print()

Sri

In [6]:
print("Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.")
print("Knead the dough for 10 minutes.")
print("Add 3g of Salt.")
print("Leave to rise for 2 hours.")
print("Bake at 200 degrees C for 30 minutes.")

Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.
Knead the dough for 10 minutes.
Add 3g of Salt.
Leave to rise for 2 hours.
Bake at 200 degrees C for 30 minutes.

In [8]:
print("Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.\n" "Knead the dough for 10 minutes.\n" "Add 3g of Salt.\n" "Leave to rise for 2 hours.\n" "Bake at 200 degrees C for 30 minutes.")

Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.
Knead the dough for 10 minutes.
Add 3g of Salt.
Leave to rise for 2 hours.
Bake at 200 degrees C for 30 minutes.

#missing double quotes
print("Notes from Day 1")
#indentation error
print("The print statement is used to output strings")
#missing paranthesis
print(Strings are strings od characters")
#priint error
print("String Concatenation is done with the + sign")
#use of more paranthesis
print("New lines can be created with a | and the letter n)

In [9]:
print("Notes from Day 1")#missing double quotes 
print("The print statement is used to output strings") #indentation error
print("Strings are strings od characters") #missing paranthesis 
print("String Concatenation is done with the + sign") #priint error
print("New lines can be created with a | and the letter n") #use of more paranthesis

Notes from Day 1
The print statement is used to output strings
Strings are strings od characters
String Concatenation is done with the + sign
New lines can be created with a | and the letter n

Day 1 Python Notes
The print() statement is used to display output.
A string is a sequence of characters written inside quotes (" " or ' ').
String concatenation (joining strings) is done using the + operator.
A new line in strings is created using \n.
Strings can be repeated using the * operator.

In [10]:
print("Hello" + " World")   # Concatenation
print("Hello\nWorld")       # New line
print("Hi " * 3)            # Repetition

Hello World
Hello
World
Hi Hi Hi

In [15]:
input("1") #input()

1 2

'2'

In [16]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

print()

In [18]:
print("Hello " + input("What is your name?"))

What is your name? sri

Hello sri

In [21]:
name=input()
print(name+" "+ "good morning")

 sri

sri good morning

In [22]:
name= input()
print("Hello",name,"I am learning python")

 sri

Hello sri I am learning python

In [23]:
name = len(input("What is your name?"))
print(name)    #len

What is your name? sakthisri anburaj

17

In [26]:
glass1="milk"  #method 1
glass2="juice"
temp=glass1
glass1=glass2
glass2=temp

print(glass1,glass2)  #method 2
print(glass1+"\n"+glass2) #print on next line

juice milk
juice
milk

In [27]:
print(len("123"))

3

In [30]:
strr="hello"   #single item subscripting
print(strr[4])

o

In [63]:
strr="hello"
print(strr[:-2:-1])

o

In [65]:
name="mom"
print(name[::-1])

mom

In [33]:
print("Number of letters in the name", len(input("What is your name?")))

What is your name? sakthisri

Number of letters in the name 9

In [34]:
height=1.65
weight=84
bmi=(weight)/(height**2)
print(round((bmi),4))

30.854

In [36]:
print(f"sakthi")

sakthi

In [37]:
name="sakthi"
age=22
print(f"Hello {name} age: {age}")

Hello sakthi age: 22

In [39]:
print(10%%2) #to fix print(10%2)

SyntaxError: invalid syntax (2978296256.py, line 1)

In [41]:
my_string = "Programming")  #to fix begin with (

SyntaxError: unmatched ')' (177255511.py, line 1)

In [43]:
name="sri"
print(name.title())

Sri

In [49]:
text = "PyThon is a Programming Language"
print(text.capitalize())
print(text.title())
print(text.swapcase())
print(text.upper())
print(text.lower())

Python is a programming language
Python Is A Programming Language
pYtHON IS A pROGRAMMING lANGUAGE
PYTHON IS A PROGRAMMING LANGUAGE
python is a programming language

capitalize() → Makes the first character uppercase and the rest lowercase.
title() → Makes the first letter of every word uppercase.
swapcase() → Swaps the case of every letter (uppercase → lowercase, lowercase → uppercase).
upper() → Converts the whole string to uppercase.
lower() → Converts the whole string to lowercase.

In [53]:
sentence = "I love python programming."  #replace()
print(sentence.replace("python","Java"))
print(sentence)

I love Java programming.
I love python programming.

replace(old, new) → changes text in a string.

It replaces the word/part you give with something new.

The original string stays the same (string is not changed).

In [54]:
#find()
sentence="I love python programming python is not a snake"
print(sentence.find("python"))

7

find(word) → gives the index (position number) of the first match in the string.
If the word is not found, it returns -1.

In [55]:
import re
print(re.findall(r'/b/wt/b',sentence))

[]

In [56]:
sentence="I love python programming python is not a snake"
iteration=re.finditer(r'python',sentence)
print(iteration)
print([m.start() for m in iteration])

<callable_iterator object at 0x000001EDF1217340>
[7, 26]

In [71]:
emotion=input("Enter your emotion:")
flower=input("Enter your favorite flower:")
xiv=len(emotion.capitalize()+flower.capitalize())
print(emotion.capitalize()+flower.capitalize()+str(x))

Enter your emotion: happy
Enter your favorite flower: rose

HappyRose5

In [74]:
name=input("Enter your name?")  #format()
age=input("Enter your age:")
print("name:{} age:{}".format(name,age))

Enter your name? sri
Enter your age: 22

name:sri age:22

In [76]:
text="Hello Sakthisri Anburaj"  #split()
test=text.split(" ")
print(test)

['Hello', 'Sakthisri', 'Anburaj']

In [77]:
think="I,am,a,programmer"
words=think.split(",")
print(think.ljust(3,'*'))
text_join="_".join(words)
print(text_join)

I,am,a,programmer
I_am_a_programmer

In [78]:
name="sakthi"
print(name.rjust(10,"*"))

****sakthi

In [79]:
name="sakthi"
print(name.ljust(10,"*"))

sakthi****

In [80]:
print(round(3.0878,-3))

0.0

In [82]:
pi=3.14159
print(f"{pi:.2f}")

3.14