In [1]:
firstname = input("firstname:")
lastname = input("lastname:")
text = firstname + " " + lastname
final_name=text.title()
fname=firstname
lname=lastname
nick1=fname[0]
nick2=lname[0]
nickname = nick1.upper() + nick2.upper()
print("your nick name is:",nickname)
print("Your Name is:" ,final_name)

firstname: dharani
lastname: nalini

your nick name is: DN
Your Name is: Dharani Nalini

In [20]:
name = "Dharani"
age = 20

print(f"Name: {name} Age: {age}")

Name: Dharani Age: 20

In [28]:
text="i ,love ,python,program"
words=text.split(";")
print(words)

['i ,love ,python,program']

In [34]:
text="i am a programmer"
words=text.split(" ")
text_join="_".join(words)
print(text_join)

i_am_a_programmer

In [40]:
name="dharani"
print(name.ljust(10,'*'))
print(name.rjust(9,'@'))

dharani***
@@dharani

In [42]:
text = "i am a programmer.i am a "
print(text.capitalize())

I am a programmer.i am a