### Question 1 [10 Marks]

### Problem Statement:

#### Create a class ProductLoader that performs the following operations:

#### 1. Loads Product.csv file with comprehensive error handling using try-except-finally block

#### 2. Implements string manipulation to convert all ProductName values to uppercase

#### 3. Creates a function using loops to filter products where Price > 20000 AND Rating > 4.0

#### 4. Returns filtered products as a list of dictionaries containing ProductID, ProductName, Price

#### 5. Implements custom exception LowRatingError that is raised when any product has Rating < 2.0

### Technical Requirements:

#### · Use Pandas for CSV loading

#### · Implement proper exception hierarchy

#### · Use try-except-finally pattern

#### · Apply string methods (.upper())

#### · Use conditional filtering with loops

#### · Return structured data (list of dictionaries)

### Expected Output: 
#### Filtered Premium Products Count: 156 Sample Output: [{'ProductID': 2005, 'ProductName': 'PRODUCT_2005', 

#### 'Price': 25000.45}]

In [1]:
class ProductLoader:
    pass

In [3]:
def load(file_path):
    try:
        df=pd.read_csv(file_path)
        return df
    except FileNotFound :
        return f" Inside the file error occur"
    finally:
        return f' Check the file properly'

load('Product.csv')

' Check the file properly'

In [5]:
import pandas as pd
df=pd.read_csv('Product.csv')

In [50]:
values=df[df['ProductName'].upper()]

AttributeError: 'Series' object has no attribute 'upper'

In [10]:
def filter_product (df):
    result={}
    for i,values in df:
        if df['Price'] > 20000 and df['Rating'] > 4.0:
            result=i
    return result

In [46]:
filter_product('Product.csv')

ValueError: not enough values to unpack (expected 2, got 1)

### Question 2 [10 Marks]

### Problem Statement:

#### Write a program that analyzes Sales.csv data using Python collections:

#### 1. Load Sales.csv into Pandas DataFrame

#### 2. Extract unique PaymentMethod values and convert to immutable tuple

#### 3. Use dictionary comprehension to count total transactions per Region

#### 4. Implement function with explicit loops to calculate total SaleAmount for each payment method

#### 5. Use if-elif-else branching to categorize sales:

#### o High: SaleAmount > 50,000

#### o Medium: 10,000 ≤ SaleAmount ≤ 50,000

#### o Low: SaleAmount < 10,000

#### 6. Return dictionary with payment methods and their totals

### Technical Requirements:

#### · Tuple creation and immutability

#### · Dictionary comprehension or dict operations

#### · Loop-based aggregation (not pandas groupby)

#### · Branching logic for categorization

#### · Error handling for missing data

### Expected Output: 
#### Payment Method Totals: {'Credit Card': 2456789.34, 'Debit Card': 1896543.21, 'UPI': 1567890.12, 'Net Banking': 1987654.32, 'Cash': 1345678.90}

#### Sales Categorization: High: 234, Medium: 567, Low: 299

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Sales.csv')

In [3]:
df

,SaleID,SaleDate,CustomerID,ProductID,QuantitySold,SaleAmount,PaymentMethod,Region
0,5001,2024-07-04,CUST_6438,2179,3,83085.91,Credit Card,South
1,5002,2024-04-22,CUST_5476,2900,1,51306.03,Debit Card,West
2,5003,2024-09-16,CUST_3039,2241,3,62403.89,Net Banking,West
3,5004,2022-02-10,CUST_7029,2486,3,48296.47,Debit Card,South
4,5005,2023-05-21,CUST_8159,2430,4,48337.73,Net Banking,North
...,...,...,...,...,...,...,...,...
1095,6096,2024-08-17,CUST_5877,2700,7,11260.04,Debit Card,Central
1096,6097,2022-01-27,CUST_1528,2728,9,70538.13,UPI,South
1097,6098,2022-08-09,CUST_8368,2598,5,30646.31,Net Banking,West
1098,6099,2023-01-02,CUST_5305,2766,2,27616.83,Credit Card,Central
1099,6100,2021-04-08,CUST_6711,2218,7,99799.77,Credit Card,West

In [4]:
for i in df:
    if i not in  df['PaymentMethod']:
        print(df['PaymentMethod'])
    else:
        print("Data Error")

0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object
0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object
0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object
0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object
0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object
0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object
0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object
0       Credit Card
1        Debit Card
2       Net Banking
3        Debit Card
4       Net Banking
           ...
1095     Debit Card
1096            UPI
1097    Net Banking
1098    Credit Card
1099    Credit Card
Name: PaymentMethod, Length: 1100, dtype: object

In [5]:
#count total transactions per Region

df.groupby('Region').agg({'QuantitySold':'count'})

         QuantitySold
Region
Central           245
East              210
North             210
South             220
West              215

In [6]:
#Implement function with explicit loops to calculate total SaleAmount for each payment method
    
pay=df.groupby('PaymentMethod').agg({'SaleAmount':'sum'})

In [59]:
print(f"credit Card :{pay}")

credit Card :                SaleAmount
PaymentMethod
Cash           12490358.67
Credit Card     9979108.07
Debit Card     10653908.88
Net Banking    10290386.88
UPI            10868175.58

In [9]:
#High: SaleAmount > 50,000o Medium: 10,000 ≤ SaleAmount ≤ 50,000o Low: SaleAmount < 10,000
def fun(file_path): 

    for i in df['SaleAmount']:
        if  i > 50000:
            print("High")
        elif  10000 <= i <= 50000:
            print("Medium")
        else:
            print("Low")
          

fun('Sales.csv')

High
High
High
Medium
Medium
High
High
High
Medium
High
High
High
High
High
High
High
High
High
High
High
High
High
Medium
Medium
High
High
High
High
High
High
High
High
Medium
Medium
Medium
Medium
High
Medium
Medium
Medium
Low
High
High
High
Medium
Low
Medium
High
Medium
High
Medium
High
Medium
Medium
High
Medium
Medium
High
High
High
Medium
Medium
Medium
Low
High
High
Medium
High
Medium
High
Medium
Low
High
High
High
Low
Medium
High
Medium
High
Low
Medium
High
Medium
High
High
Medium
High
High
Medium
Medium
Medium
High
High
High
High
High
High
Medium
High
Low
High
Medium
Low
Low
Medium
High
Medium
High
Medium
High
Medium
Medium
High
Medium
Low
Medium
Medium
High
Medium
High
High
Medium
High
High
High
High
High
High
Medium
Low
Low
Medium
Medium
Medium
Medium
High
High
High
Medium
High
High
Medium
Medium
High
High
High
Medium
Medium
High
High
Medium
Medium
High
High
Medium
High
Low
Medium
High
Medium
High
High
High
Medium
Medium
Medium
High
High
High
High
High
High
Medium
Medium
High
Medium
Medium
High
High
Medium
High
High
Medium
Low
Medium
High
High
High
High
Medium
Medium
High
Medium
Medium
Medium
Low
Medium
Medium
Medium
Medium
High
High
Medium
High
Medium
High
High
High
High
Medium
Low
High
Medium
Medium
High
High
High
Medium
High
Low
Low
High
Low
Medium
High
Medium
Medium
Medium
Medium
Medium
High
High
Medium
High
Medium
Medium
High
Medium
High
Medium
High
Medium
Medium
Medium
High
High
High
Medium
Medium
Medium
High
High
Medium
High
Medium
High
High
Medium
Medium
High
High
High
High
Medium
High
High
High
Medium
Medium
Medium
Medium
Medium
Medium
Medium
Medium
High
Medium
Low
Medium
Medium
High
Medium
High
High
High
High
High
High
Low
Medium
High
Medium
Low
High
High
Medium
High
Medium
High
Medium
Medium
High
Medium
High
Medium
Medium
High
Medium
Medium
Medium
High
High
High
Medium
Medium
Medium
High
Medium
High
Medium
High
High
High
Medium
Low
Medium
Medium
Low
High
Medium
High
High
Medium
High
Medium
Medium
Medium
High
Medium
Medium
High
Medium
High
High
High
Low
Medium
Medium
Medium
Medium
Medium
High
High
Low
Medium
Medium
Medium
High
High
High
High
High
High
Medium
High
Medium
Medium
Medium
Medium
High
Medium
Medium
Medium
High
Medium
High
High
High
High
Low
Medium
High
Low
Medium
High
Medium
High
Medium
High
High
High
Medium
High
High
Medium
Medium
High
High
Medium
High
Medium
Medium
High
High
High
High
Medium
Medium
Low
High
High
Medium
Medium
Low
High
Medium
Medium
High
High
High
High
Medium
High
High
High
Medium
Low
Low
Medium
High
Low
Medium
Medium
Low
Medium
Medium
Medium
High
High
Medium
High
High
High
Low
Low
Low
Medium
Medium
High
Medium
Medium
High
Medium
High
High
High
High
Medium
High
High
High
Medium
High
Low
High
Low
High
High
Medium
Medium
Medium
High
High
High
High
High
Medium
Medium
High
Medium
Low
Low
Medium
High
Medium
High
Medium
Medium
Medium
High
High
High
High
High
High
High
High
Low
High
High
High
Medium
High
High
Medium
High
Medium
Low
Medium
Low
High
Low
Medium
Medium
Medium
Low
High
Medium
High
High
Low
High
Low
Medium
Low
Medium
High
High
Medium
High
Medium
High
Medium
Medium
Medium
Medium
High
High
Low
High
High
High
Medium
Medium
High
High
Medium
Medium
Medium
High
High
Medium
High
High
High
High
High
Medium
High
Medium
Medium
Medium
Medium
Medium
Medium
High
Medium
High
Low
High
High
Low
High
High
High
High
High
High
Medium
Low
High
Medium
High
Low
Medium
High
Medium
Medium
High
High
Medium
Medium
High
High
Medium
Low
Medium
Medium
Medium
High
Low
High
Medium
High
High
Low
High
Medium
High
High
Medium
Medium
Medium
High
Medium
Medium
Medium
Medium
High
Low
High
Medium
Medium
High
High
High
Medium
Medium
High
Medium
Medium
High
High
High
High
High
Low
Medium
High
High
Medium
Medium
Medium
High
Low
Medium
High
High
Medium
High
High
Medium
Low
Medium
Medium
High
Medium
High
Low
Medium
High
Medium
Medium
Medium
Medium
High
Medium
High
High
Medium
Low
High
High
Medium
High
Medium
High
Low
High
High
Medium
Medium
Medium
High
Medium
Medium
High
Medium
High
High
Medium
High
Medium
Medium
High
High
Medium
High
Medium
Medium
High
Medium
Medium
High
High
Medium
High
High
High
High
Medium
Medium
Medium
High
High
High
High
Low
Medium
Medium
Medium
Low
Medium
High
High
High
High
Medium
High
High
High
Medium
Medium
Low
High
High
High
Medium
High
High
Medium
Medium
High
Medium
High
High
High
High
High
High
Medium
Low
Medium
High
Medium
Low
Medium
High
High
High
Medium
High
High
High
High
Medium
High
Medium
Medium
High
Medium
Medium
High
Low
High
High
High
High
High
High
High
High
High
High
Medium
Medium
High
Medium
Medium
High
Medium
Medium
High
High
Medium
High
High
Medium
Medium
High
High
High
High
High
Medium
High
Medium
High
High
Low
High
Medium
Medium
High
Medium
High
Low
High
High
High
High
High
Medium
Low
Medium
Low
High
Medium
High
High
Medium
High
Low
Medium
Low
High
High
Medium
Medium
High
Medium
High
High
Medium
High
Medium
High
High
Medium
Low
High
High
Low
High
Medium
Medium
High
Medium
High
Medium
High
Medium
High
High
Medium
High
Medium
Low
High
Medium
High
High
High
Medium
Medium
Medium
High
High
High
Low
Medium
Medium
Medium
Medium
Medium
Medium
Low
Low
Medium
Medium
Medium
High
Medium
Medium
Medium
Medium
Low
Medium
High
Medium
Medium
High
Medium
Medium
High
High
Medium
Medium
Medium
Low
High
Medium
Medium
High
High
Medium
High
Medium
High
Medium
Low
Medium
Medium
Medium
High
High
Medium
Medium
Medium
High
High
High
High
Medium
Low
High
High
Medium
Low
High
Low
Medium
High
Medium
Low
High
High
High
Medium
Low
High
High
Medium
High
Medium
Medium
Medium
Medium
Medium
High
High
High
Medium
Low
Low
Medium
High
High
High
Medium
Medium
Medium
Low
High
High
Medium
High
High
Medium
High
Medium
Low
High
High
Medium
Medium
High
High
High
Medium
High
Medium
High
Low
High
Medium
Medium
Medium
Medium
High
High
High
Medium
High
High
Medium
Low
High
High
High
Medium
High
Medium
High
High
Medium
High
Medium
High
Medium
Medium
Medium
Medium
Low
High
High
High
Low
High
Low
High
Low
High
High
High
Medium
Medium
Medium
High
High
Low
High
High
High
Low
Medium
Medium
High
Medium
Medium
High
High
High
Medium
Medium
High
Medium
Medium
Medium
Low
Medium
High
High
High
Medium
Medium
Low
High
Medium
High
High
Medium
Medium
High
High
Medium
Medium
High
Low
Medium
Medium
High
Low
Medium
Medium
High
High
High
High
High
Low
Medium
High
Medium
Medium
High
Medium
Medium
High

In [ ]:
#Payment Method Totals: {'Credit Card': 2456789.34, 'Debit Card': 1896543.21, 'UPI': 1567890.12, 'Net Banking': 1987654.32, 'Cash': 1345678.90}
#Sales Categorization: High: 234, Medium: 567, Low: 299¶

### 3.Question

### Problem Statement:

#### Implement a program using functional programming concepts:

#### 1. Load SalesChurn.csv into DataFrame

#### 2. Define function risk_category(probability) that returns:

#### o "Critical" if probability > 0.8

#### o "High" if 0.5 ≤ probability ≤ 0.8

#### o "Low" if probability < 0.5

#### 3. Use list comprehension to apply this function: [risk_category(p) for p in df['ChurnProbability']]

####  4. Create frequency dictionary using collections.Counter to count each risk category

#### 5. Raise custom exception InvalidProbabilityError if any probability value is outside [0, 1] range

#### 6. Implement proper error handling with try-except

### Technical Requirements:

#### · Custom exception class definition

#### · List comprehension syntax

#### · Counter from collections module

#### · Conditional logic in functions

#### · Exception validation

### Expected Output:
#### Risk Category Distribution: {'Critical': 123, 'High': 456, 'Low': 441} Total Customers Analyzed: 1,020

In [62]:
import pandas as pd

In [63]:
df=pd.read_csv('SalesChurn.csv')

In [64]:
def risk_category(file_path):
    for i in df['ChurnProbability'] :
        if  i > 0.8:
            print("Critical")
        elif  0.5 <= i <= 0.8:
            print("High")
        else:
            print("Low")

In [65]:
risk_category('SalesChurn.csv')

Low
Critical
Low
Low
High
High
High
Critical
High
Critical
Low
High
Critical
High
Low
High
High
Low
Critical
Low
Low
Critical
Low
Low
High
High
Low
Critical
High
High
High
High
Low
Low
High
Critical
Low
High
Critical
Low
Low
Low
High
Low
Low
High
High
Low
Low
High
Critical
Critical
High
Low
Low
Low
Low
High
Low
Low
Critical
Low
Low
Low
High
High
Low
High
High
Critical
Critical
Critical
High
Low
Low
Low
High
Critical
High
Low
High
Critical
High
Critical
High
Critical
High
High
Low
Low
High
Low
Critical
Low
Critical
Low
Low
Critical
Low
Low
Low
High
Low
High
High
High
High
High
Low
Critical
Low
High
Low
Critical
Low
Low
High
High
Low
High
High
Critical
High
Low
Low
Critical
Critical
Low
Low
High
Low
Low
Low
Low
Low
High
Low
Low
Low
Low
Low
Low
High
Low
Low
Low
High
Critical
Low
Critical
Low
Critical
Low
High
High
Low
Critical
High
Low
Low
Low
High
High
Low
High
Critical
High
High
High
Low
Low
High
Low
Critical
Low
Low
Critical
High
Low
High
High
High
Low
Critical
Critical
Low
Critical
Critical
High
High
Low
Low
High
Critical
High
High
Low
Low
Low
Low
High
Low
High
Low
High
High
Low
Low
Low
Critical
Low
High
Critical
High
Low
Critical
Low
Low
Critical
High
Low
Low
Low
High
Low
Critical
Critical
Critical
Low
High
Critical
Critical
Low
Low
Low
High
High
Critical
Low
Low
Low
Low
Low
High
High
High
Low
Low
Low
Critical
Low
High
Low
Critical
High
Low
High
Low
Critical
Low
Low
High
Critical
Low
High
Low
Low
High
Low
Low
Critical
Low
High
Low
Low
Low
High
High
Low
Low
Critical
Low
Critical
Low
High
Low
Critical
High
Low
Low
High
High
Low
Low
Critical
Low
High
Low
Critical
Critical
Critical
Low
Critical
Low
High
High
Low
Critical
Low
High
High
High
Low
Low
Critical
Low
Low
Low
Low
Critical
Low
High
Low
Low
Low
Low
Low
High
Low
Low
Low
Low
Critical
High
Low
Low
Critical
Low
Critical
Low
Critical
Critical
High
Low
Low
Low
Low
Low
Low
High
High
Low
Low
Critical
Low
High
Low
Low
Low
Low
Critical
High
Low
Critical
Low
Critical
Critical
Low
Low
Low
High
High
Critical
High
Low
Low
High
Low
High
Low
Low
Low
High
Low
High
Low
High
High
Low
High
Low
Low
Low
High
Critical
High
High
High
Low
Critical
Low
Critical
High
High
High
Low
High
Low
High
High
Critical
High
Low
Low
High
Low
Low
Critical
High
High
Low
High
Low
High
Low
Critical
High
Low
High
High
Low
High
Low
Critical
Critical
Low
Critical
Low
Low
Critical
High
Low
Low
Low
Critical
Low
Low
Low
Low
Low
Low
Low
Low
Critical
Low
High
High
Critical
Critical
Low
Low
Low
Low
High
High
Critical
Low
Critical
Low
Low
Low
High
Low
Critical
Critical
Critical
Low
Critical
High
Low
Low
Low
Low
High
Critical
Low
High
Critical
Low
Critical
High
High
Low
High
Low
High
Low
Critical
Low
Low
High
Low
High
Critical
High
Low
High
High
Critical
Low
Low
High
Low
Low
Low
Critical
Critical
High
Low
Low
Critical
Critical
Critical
High
Low
Critical
Low
Low
High
Low
Low
Low
Low
Critical
Low
Low
Low
Low
Low
High
Low
High
Critical
High
Low
Low
Critical
High
Critical
Critical
Critical
Critical
High
Low
Critical
High
Low
High
High
Critical
High
Low
Critical
High
High
Low
Low
High
Low
Low
High
Low
Low
Low
Low
High
Low
Low
High
Critical
High
Low
Low
Critical
Low
High
Low
Low
Critical
High
High
Low
Low
High
High
Low
Low
Low
Critical
High
Critical
Low
Critical
Low
High
Critical
Low
Low
Low
Low
High
High
High
High
High
Low
Low
Critical
Low
High
Low
High
High
Low
Low
High
Low
Low
High
Low
Critical
High
Low
High
High
Low
Low
Low
Low
Low
Low
Low
High
High
High
High
Critical
High
High
Low
Critical
Low
Low
High
Low
Low
High
High
High
Critical
Low
Low
High
Low
High
Low
Low
High
High
High
High
Low
Low
Low
Low
Low
High
Low
High
Critical
Low
Low
Low
High
Low
Low
High
Low
High
High
High
Low
Critical
High
Low
Low
Low
Critical
Critical
High
Critical
Low
Low
Critical
High
Low
High
Critical
High
Critical
High
Low
Critical
Low
Critical
Low
High
High
Low
Low
Critical
Critical
Low
Critical
Critical
High
Low
Critical
High
Critical
Critical
Critical
High
Low
Low
Low
Low
High
High
Critical
Low
High
Low
Low
Low
High
Low
High
Low
Critical
Critical
Critical
Critical
Critical
Critical
High
Low
Low
Low
High
High
Critical
Critical
Low
High
Critical
Low
High
Low
High
Low
Critical
High
Low
Low
Low
Critical
High
Low
Low
High
High
High
Low
High
High
Critical
Critical
High
High
Low
Critical
Low
Low
Low
Critical
Low
Low
Low
Low
Low
Critical
Critical
Low
Critical
High
Low
High
Critical
Low
Low
Critical
High
Low
High
High
Critical
High
Low
High
High
Low
High
Critical
Low
High
Low
Low
Low
Low
Critical
Low
High
Low
Critical
High
High
Low
Low
Low
Critical
Low
High
High
Low
High
High
High
Low
Low
Low
Critical
High
Low
Critical
Low
Critical
Critical
Critical
Critical
Low
Low
High
Low
Low
High
Low
Critical
Critical
Critical
High
Critical
Critical
High
Low
Critical
Critical
Low
Low
High
Low
Critical
Critical
Low
High
Low
High
Low
High
Low
Low
Low
Low
High
Low
High
Critical
Critical
Critical
Critical
Low
Low
High
Critical
Critical
Low
Low
Low
High
High
Low
Low
High
High
Low
Critical
High
Critical
Critical
Low
Low
High
Low
Critical
High
Critical
Low
Low
High
Low
High
Critical
Low
High
Low
Low
Critical
Critical
High
Critical
High
Low
Low
Critical
Low
High
High
High
High
Low
Low
High
High
High
High
Low
Critical
High
Low
Low
Critical
Critical
Low
High
Low
Low
High
High
High
Low
Low
Low
Low
Low
Low
Low
Low
High
Low
Low
High
Low
High
Low
Low
Low
Low
High
Critical
Low
Low
High
Low
Critical
Low
Critical
Low
Low
Critical
High
High
High
High
Low
High
Low
Critical
Critical
Low
Low
Low
Low
Critical
Low
Low
Critical
Critical
High
High
High

### Question 4 [12 Marks]

### Problem Statement:

#### Create a data analysis program using NumPy:

#### 1. Extract Price and StockQuantity columns from Product.csv as NumPy arrays

#### 2. Create 2D NumPy array using np.column_stack([prices, stock_quantities])

#### 3. Calculate statistical measures using NumPy functions:

#### o Mean price and mean stock

#### o Median values

#### o Standard deviation

#### o Percentiles: 25th, 50th, 75th for prices

#### 4. Use NumPy boolean indexing to filter: products where StockQuantity > 75th percentile

#### 5. Implement error handling for data type conversion with ValueError exception

#### 6. Return comprehensive statistics dictionary

#### Technical Requirements:

#### · NumPy array operations

#### · NumPy statistical functions (mean, median, std, percentile)

#### · 2D array creation and manipulation

#### · Boolean indexing

#### · Exception handling for type conversion

#### · Structured output dictionary

#### Expected Output:
#### Price Statistics: Mean: ₹24,567.89 Median: ₹22,345.67 Std Dev: ₹15,234.56 25th Percentile: ₹8,765.43 75th Percentile: ₹38,234.78

#### High Stock Products (above 75th percentile): 263

In [18]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv('Product.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductID       1050 non-null   int64
 1   ProductName     1050 non-null   object
 2   Category        1050 non-null   object
 3   Price           1050 non-null   float64
 4   StockQuantity   1050 non-null   int64
 5   SupplierID      1050 non-null   int64
 6   WarrantyMonths  1050 non-null   int64
 7   Rating          1050 non-null   float64
dtypes: float64(2), int64(4), object(2)
memory usage: 65.8+ KB

In [21]:
df.describe()

,ProductID,Price,StockQuantity,SupplierID,WarrantyMonths,Rating
count,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000
mean,2525.500000,24879.784019,257.404762,25.000952,19.240000,3.490476
std,303.253195,14528.243809,142.594203,14.179867,11.584049,0.860268
min,2001.000000,729.290000,10.000000,1.000000,6.000000,2.000000
25%,2263.250000,12084.300000,134.250000,13.000000,6.000000,2.700000
50%,2525.500000,25341.855000,266.000000,24.000000,12.000000,3.500000
75%,2787.750000,37487.687500,383.000000,37.000000,24.000000,4.200000
max,3050.000000,49986.020000,499.000000,50.000000,36.000000,5.000000

In [22]:
seg=df[['StockQuantity','Price']]

In [23]:
seg

      StockQuantity     Price
0               256  19039.74
1               278  47560.36
2               150  36733.70
3               283  30133.59
4               425   8222.92
...             ...       ...
1045            118  30985.23
1046             45  12031.49
1047            241   1707.84
1048            238  43569.89
1049            362   1552.84

[1050 rows x 2 columns]

In [24]:
arr=np.column_stack(df[['Price','StockQuantity']])

In [25]:
print(arr)

[['Price' 'StockQuantity']]

In [26]:
mean=seg.mean()
mean

StockQuantity      257.404762
Price            24879.784019
dtype: float64

In [27]:
median=seg.median()

In [28]:
std=seg.std()

In [29]:
des=seg.describe()

In [30]:
#Use NumPy boolean indexing to filter: products where StockQuantity > 75th percentile

per=df['StockQuantity'] >383.000000

per

0       False
1       False
2       False
3       False
4        True
        ...
1045    False
1046    False
1047    False
1048    False
1049    False
Name: StockQuantity, Length: 1050, dtype: bool

In [31]:
#Price Statistics: Mean: ₹24,567.89 Median: ₹22,345.67 Std Dev: ₹15,234.56 25th Percentile: ₹8,765.43 75th Percentile: ₹38,234.78
#High Stock Products (above 75th percentile): 263¶

In [32]:
print(f"price Statistics : mean:₹{mean}, median : ₹{median}, std Dev : ₹{std} ")

price Statistics : mean:₹StockQuantity      257.404762
Price            24879.784019
dtype: float64, median : ₹StockQuantity      266.000
Price            25341.855
dtype: float64, std Dev : ₹StockQuantity      142.594203
Price            14528.243809
dtype: float64

### Question 5 [12 Marks]
### Problem Statement:
#### Design and implement an object-oriented solution with inheritance:
#### Base Class Transaction:
#### •	Private attributes: __sale_id, __amount, __date
#### •	Public properties (getters/setters) for accessing private attributes
#### •	Method validate_amount() raises InvalidAmountError if amount ≤ 0
#### •	Method calculate_tax(rate) returns tax amount
#### Derived Class ProductTransaction(Transaction):
#### •	Inherits from Transaction
#### •	Additional attributes: product_id, quantity
#### •	Override __str__() method to include product details
#### •	Method calculate_unit_price() returns amount/quantity
#### •	Method get_transaction_summary() returns formatted string
#### Implementation Requirements:
#### 1.	Define custom exception InvalidAmountError and InvalidTransactionError
#### 2.	Encapsulate all attributes with private scope
#### 3.	Implement property decorators for safe access
#### 4.	Read Sales.csv and create ProductTransaction objects
#### 5.	Use try-except-finally in constructor for error handling
#### 6.	Validate each transaction during creation
#### 7.	Count and report valid vs invalid transactions
#### Technical Requirements:
#### •	Inheritance with method overriding
#### •	Encapsulation with private attributes
#### •	Property decorators (@property, @setter)
#### •	Custom exception classes
#### •	Try-except-finally pattern
#### Expected Output:
#### Transaction Processing Report:
#### Total Records: 1,100
#### Valid Transactions: 1,087
#### Invalid Transactions: 13
#### Sample Transaction:
#### Sale 5001: Product 2179, Quantity 3, Amount ₹83,085.91, Unit Price ₹27,695.30

In [44]:
class Transaction:
    pass
    
def __init__(self,__sale_id, __amount, __date):
    self.__sale_id=__sale_id
    self.__amount=__amount
    self.__date=__date



@property
def getter(self):
    return self.__sale_id

def setter(self,value):
    value=30
    self.__amount=value

    
def validate_amount(self):
    if self.__amount <=0:
        raise InvalidAmountError

        
def calculate_tax(self,rate):
    return self.__amount


def get_transaction_summary(self):
    return f"Sales:{calculate_tax}"


class ProductTransaction(Transaction):
    def __init__(self,product_id,quantity):
        self.product_id=product_id
        self.quantity=quantity

In [47]:
t=Transaction()
t.get_transaction_summary(value)

AttributeError: 'Transaction' object has no attribute 'get_transaction_summary'

### Question 6  [12 Marks]
### Problem Statement:
#### Implement comprehensive data integration and analysis:
#### 1.	Load all three datasets into Pandas DataFrames
#### 2.	Merge operations:
#### o	Merge Sales.csv with Product.csv on ProductID
#### o	Merge result with SalesChurn.csv on CustomerID (left join strategy)
#### 3.	Create derived columns:
#### o	revenue_per_unit = SaleAmount / QuantitySold
#### o	risk_adjusted_value = CustomerValue × ChurnProbability
#### 4.	Data filtering:
#### o	Filter for Region == 'South' AND ChurnStatus == 'At Risk'
#### 5.	Aggregation:
#### o	Group by Category
#### o	Calculate: total_revenue, avg_rating, customer_count
#### 6.	Sorting and output:
#### o	Sort by total_revenue in descending order
#### o	Display top 5 categories
#### 7.	Error handling:
#### o	Catch KeyError for missing columns
#### o	Handle merge-related exceptions
#### o	Validate row counts at each operation
#### Technical Requirements:
#### •	Pandas merge with different join types
#### •	DataFrame column creation and calculation
#### •	Groupby and aggregation operations
#### •	Filtering with multiple conditions
#### •	Error handling specific to DataFrames
#### •	Data validation
#### Expected Output:
#### Top 5 Categories (South Region, At-Risk Customers):
#### Category | Total Revenue | Avg Rating | Customer Count
#### Electronics | ₹2,456,789.34 | 4.2 | 234
#### Home Appliances | ₹1,876,543.21 | 3.8 | 178
#### Accessories | ₹1,456,789.12 | 3.5 | 145
#### Wearables | ₹987,654.32 | 4.1 | 98
#### Smart Devices | ₹876,543.21 | 3.9 | 87

In [107]:
import pandas as pd

In [109]:
df1=pd.read_csv('SalesChurn.csv')
df2=pd.read_csv('Product.csv')
df3=pd.read_csv('Sales.csv')

In [ ]:
d=pd.merge(df1,df2), how=join ,on='ProductID'

### Question 7 [12 Marks]
### Problem Statement:
#### Create comprehensive product visualizations using Matplotlib and Seaborn:
#### 1.	Load Product.csv and prepare data for visualization
#### 2.	Create 2×2 subplot layout with following charts:
#### o	Subplot 1: Histogram of product ratings with mean line overlay
#### o	Subplot 2: Box plot showing price distribution by category
#### o	Subplot 3: Scatter plot of Price vs Rating with regression line
#### o	Subplot 4: Bar plot showing product count per category
#### 3.	Apply formatting:
#### o	Add titles and axis labels to each subplot
#### o	Include legends where appropriate
#### o	Apply grid and alpha transparency for clarity
#### 4.	Statistical analysis:
#### o	Calculate Pearson correlation between Price and Rating
#### o	Interpret correlation results
#### 5.	Save visualization:
#### o	Export final figure as PNG at 300 DPI
#### o	Use proper figure sizing (14×10 inches)
#### 6.	Error handling:
#### o	Handle missing data gracefully
#### o	Catch ValueError exceptions
#### Technical Requirements:
#### •	Matplotlib subplot creation and management
#### •	Seaborn box plot, scatter plot with regression
#### •	Statistical functions (correlations)
#### •	Proper figure formatting and saving
#### •	Error handling for data issues
#### Expected Output:
#### Product Analysis Report:
#### Correlation Analysis:
#### Pearson Correlation (Price, Rating): -0.156
#### Interpretation:
#### Slight negative correlation suggests higher prices do not guarantee
#### higher customer ratings.
#### Figure saved as 'product_analysis.png'

In [40]:
import pandas as pd

In [41]:
df=pd.read_csv('Product.csv')

In [42]:
df

,ProductID,ProductName,Category,Price,StockQuantity,SupplierID,WarrantyMonths,Rating
0,2001,Product_2001,Accessories,19039.74,256,36,12,3.6
1,2002,Product_2002,Electronics,47560.36,278,3,12,4.9
2,2003,Product_2003,Electronics,36733.70,150,9,6,4.3
3,2004,Product_2004,Accessories,30133.59,283,8,12,2.5
4,2005,Product_2005,Wearables,8222.92,425,33,6,3.4
...,...,...,...,...,...,...,...,...
1045,3046,Product_3046,Smart Devices,30985.23,118,41,6,2.2
1046,3047,Product_3047,Electronics,12031.49,45,1,12,3.3
1047,3048,Product_3048,Accessories,1707.84,241,8,6,2.3
1048,3049,Product_3049,Home Appliances,43569.89,238,23,24,3.8
1049,3050,Product_3050,Wearables,1552.84,362,38,24,4.8

In [43]:
import matplotlib.pyplot as plt
import seaborn as sns