In [53]:
print("viki")  #print()

viki

In [2]:
print("Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.")
print("Knead the dough for 10 minutes.")
print("Add 3g of Salt.")
print("Leave to rise for 2 hours.")
print("Bake at 200 degrees C for 30 minutes.")

Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.
Knead the dough for 10 minutes.
Add 3g of Salt.
Leave to rise for 2 hours.
Bake at 200 degrees C for 30 minutes.

In [3]:
print("Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.\n" "Knead the dough for 10 minutes.\n" "Add 3g of Salt.\n" "Leave to rise for 2 hours.\n" "Bake at 200 degrees C for 30 minutes.")

Mix 500g of Flour, 10g Yeast and 300ml Water in a bowl.
Knead the dough for 10 minutes.
Add 3g of Salt.
Leave to rise for 2 hours.
Bake at 200 degrees C for 30 minutes.

In [4]:
#missing double quotes
print("Notes from Day 1")
#indentation error
print("The print statement is used to output strings")
#missing paranthesis
print(Strings are strings od characters")
#priint error
print("String Concatenation is done with the + sign")
#use of more paranthesis
print("New lines can be created with a | and the letter n)

SyntaxError: unterminated string literal (detected at line 6) (4233454311.py, line 6)

In [5]:
print("Notes from Day 1")#missing double quotes 
print("The print statement is used to output strings") #indentation error
print("Strings are strings od characters") #missing paranthesis 
print("String Concatenation is done with the + sign") #priint error
print("New lines can be created with a | and the letter n") #use of more paranthesis

Notes from Day 1
The print statement is used to output strings
Strings are strings od characters
String Concatenation is done with the + sign
New lines can be created with a | and the letter n

In [6]:
Day 1 Python Notes
The print() statement is used to display output.
A string is a sequence of characters written inside quotes (" " or ' ').
String concatenation (joining strings) is done using the + operator.
A new line in strings is created using \n.
Strings can be repeated using the * operator.

SyntaxError: invalid syntax (3696817796.py, line 1)

In [ ]:
print("Hello" + " World")   # Concatenation
print("Hello\nWorld")       # New line
print("Hi " * 3)            # Repetition

In [9]:
input("1") #input()

1 1

'1'

In [10]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [11]:
print()

In [12]:
print("Hello " + input("What is your name?"))

What is your name? viki

Hello viki

In [13]:
name=input()
print(name+" "+ "good morning")

 viki

viki good morning

In [14]:
name= input()
print("Hello",name,"I am learning python")

 viki

Hello viki I am learning python

In [15]:
name = len(input("What is your name?"))
print(name)    #len

What is your name? viki

4

In [16]:
glass1="milk"  #method 1
glass2="juice"
temp=glass1
glass1=glass2
glass2=temp

print(glass1,glass2)  #method 2
print(glass1+"\n"+glass2) #print on next line

juice milk
juice
milk

In [17]:
print(len("123"))

3

In [18]:
strr="hello"   #single item subscripting
print(strr[4])

o

In [19]:
strr="hello"
print(strr[:-2:-1])

o

In [20]:
name="mom"
print(name[::-1])

mom

In [22]:
print("Number of letters in the name", len(input("What is your name?")))

What is your name? viki

Number of letters in the name 4

In [23]:
height=1.65
weight=84
bmi=(weight)/(height**2)
print(round((bmi),4))

30.854

In [52]:
print(f"viki")

viki

In [51]:
name="viki"
age=22
print(f"Hello {name} age: {age}")

Hello viki age: 22

In [26]:
print(10%%2) #to fix print(10%2)

SyntaxError: invalid syntax (2978296256.py, line 1)

In [27]:
my_string = "Programming")  #to fix begin with (

SyntaxError: unmatched ')' (177255511.py, line 1)

In [50]:
name="viki"
print(name.title())

Viki

In [29]:
text = "PyThon is a Programming Language"
print(text.capitalize())
print(text.title())
print(text.swapcase())
print(text.upper())
print(text.lower())

Python is a programming language
Python Is A Programming Language
pYtHON IS A pROGRAMMING lANGUAGE
PYTHON IS A PROGRAMMING LANGUAGE
python is a programming language

In [30]:
capitalize() → Makes the first character uppercase and the rest lowercase.
title() → Makes the first letter of every word uppercase.
swapcase() → Swaps the case of every letter (uppercase → lowercase, lowercase → uppercase).
upper() → Converts the whole string to uppercase.
lower() → Converts the whole string to lowercase.

SyntaxError: invalid character '→' (U+2192) (1409204737.py, line 1)

In [31]:
sentence = "I love python programming."  #replace()
print(sentence.replace("python","Java"))
print(sentence)

I love Java programming.
I love python programming.

In [32]:
replace(old, new) → changes text in a string.

It replaces the word/part you give with something new.

The original string stays the same (string is not changed).

SyntaxError: invalid character '→' (U+2192) (843163062.py, line 1)

In [33]:
#find()
sentence="I love python programming python is not a snake"
print(sentence.find("python"))

7

In [34]:
find(word) → gives the index (position number) of the first match in the string.
If the word is not found, it returns -1.

SyntaxError: invalid character '→' (U+2192) (2763956470.py, line 1)

In [35]:
import re
print(re.findall(r'/b/wt/b',sentence))

[]

In [36]:
sentence="I love python programming python is not a snake"
iteration=re.finditer(r'python',sentence)
print(iteration)
print([m.start() for m in iteration])

<callable_iterator object at 0x000001E92C7BD540>
[7, 26]

In [39]:
emotion=input("Enter your emotion:")
flower=input("Enter your favorite flower:")
x=len(emotion.capitalize()+flower.capitalize())
print(emotion.capitalize()+flower.capitalize()+str(x))

Enter your emotion: happy
Enter your favorite flower: rose

HappyRose9

In [40]:
name=input("Enter your name?")  #format()
age=input("Enter your age:")
print("name:{} age:{}".format(name,age))

Enter your name? viki
Enter your age: 21

name:viki age:21

In [49]:
text="Hello kiki"  #split()
test=text.split(" ")
print(test)

['Hello', 'kiki']

In [42]:
think="I,am,a,programmer"
words=think.split(",")
print(think.ljust(3,'*'))
text_join="_".join(words)
print(text_join)

I,am,a,programmer
I_am_a_programmer

In [47]:
name="viki"
print(name.rjust(10,"*"))

******viki

In [48]:
name="viki"
print(name.ljust(10,"*"))

viki******

In [45]:
print(round(3.0878,-3))

0.0

In [46]:
pi=3.14159
print(f"{pi:.2f}")

3.14