## ASSIGNMENT 2: NumPy for Numeric Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('assignment2_regional_performance(in).csv')

In [3]:
df

,RegionName,Q1Revenue,Q2Revenue,Q3Revenue,Q4Revenue,Q1Units,Q2Units,Q3Units,Q4Units
0,North,104045,199661,181373,86631,398,415,470,285
1,South,147888,93484,165294,122991,345,490,242,162
2,East,157455,132989,174019,54014,275,412,191,289
3,West,186672,86212,115726,61093,138,135,453,224
4,Central,143179,93525,191564,68070,269,272,421,249
5,Northeast,95714,113208,165668,85777,346,119,387,413
6,Northwest,152946,83828,56102,106958,125,420,314,157
7,Southeast,159616,199783,168015,132074,454,363,441,441
8,Southwest,155983,53420,76641,60729,405,499,150,404
9,Central-East,174123,146752,153746,155864,112,241,252,279

### Q2.1: Array Creation and Shape

#### Load the regional performance data into NumPy arrays and display the shape and data types.

In [4]:
val = df[['Q1Revenue', 'Q2Revenue', 'Q3Revenue', 'Q4Revenue']].values

In [5]:
val

array([[104045, 199661, 181373,  86631],
       [147888,  93484, 165294, 122991],
       [157455, 132989, 174019,  54014],
       [186672,  86212, 115726,  61093],
       [143179,  93525, 191564,  68070],
       [ 95714, 113208, 165668,  85777],
       [152946,  83828,  56102, 106958],
       [159616, 199783, 168015, 132074],
       [155983,  53420,  76641,  60729],
       [174123, 146752, 153746, 155864]])

In [6]:
val.shape

(10, 4)

In [7]:
print("Array shape:", val.shape)
print("Data type:", val.dtype)
print("Array:", val[:3])

Array shape: (10, 4)
Data type: int64
Array: [[104045 199661 181373  86631]
 [147888  93484 165294 122991]
 [157455 132989 174019  54014]]

### Q2.2: Annual Revenue Calculation

#### Calculate the total annual revenue for each region (sum of Q1, Q2, Q3, Q4 revenues)

In [8]:
Total_revenue = df.groupby('RegionName')[['Q1Revenue', 'Q2Revenue', 'Q3Revenue', 'Q4Revenue']].sum()

In [9]:
Total_revenue

              Q1Revenue  Q2Revenue  Q3Revenue  Q4Revenue
RegionName
Central          143179      93525     191564      68070
Central-East     174123     146752     153746     155864
East             157455     132989     174019      54014
North            104045     199661     181373      86631
Northeast         95714     113208     165668      85777
Northwest        152946      83828      56102     106958
South            147888      93484     165294     122991
Southeast        159616     199783     168015     132074
Southwest        155983      53420      76641      60729
West             186672      86212     115726      61093

In [10]:
annual_revenue = val.sum(axis=1)
annual_revenue

array([571710, 529657, 518477, 449703, 496338, 460367, 399834, 659488,
       346773, 630485])

In [11]:
annual_revenue.shape

(10,)

In [12]:
for i, region in enumerate(df['RegionName']):
    print(df['RegionName'][i] , annual_revenue[i])

North 571710
South 529657
East 518477
West 449703
Central 496338
Northeast 460367
Northwest 399834
Southeast 659488
Southwest 346773
Central-East 630485

In [13]:
print("Annual Revenue by Region:")
for i, region in enumerate(df['RegionName']):
    print(f" {region}: ${annual_revenue[i]:,.0f}")

Annual Revenue by Region:
 North: $571,710
 South: $529,657
 East: $518,477
 West: $449,703
 Central: $496,338
 Northeast: $460,367
 Northwest: $399,834
 Southeast: $659,488
 Southwest: $346,773
 Central-East: $630,485

### Q2.3: Quarterly Average

#### Find the average units sold per quarter across all regions

In [14]:
units = df[['Q1Units', 'Q2Units', 'Q3Units', 'Q4Units']].values

In [15]:
units

array([[398, 415, 470, 285],
       [345, 490, 242, 162],
       [275, 412, 191, 289],
       [138, 135, 453, 224],
       [269, 272, 421, 249],
       [346, 119, 387, 413],
       [125, 420, 314, 157],
       [454, 363, 441, 441],
       [405, 499, 150, 404],
       [112, 241, 252, 279]])

In [16]:
average_units = units.mean(axis=0)
average_units

array([286.7, 336.6, 332.1, 290.3])

In [17]:
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
print("Average Units Sold per Quarter:")
for q, avg in zip(quarters, average_units):
    print(f"{q}: {avg:.1f} units")

Average Units Sold per Quarter:
Q1: 286.7 units
Q2: 336.6 units
Q3: 332.1 units
Q4: 290.3 units

### Q2.4: Conditional Filtering X
#### Identify regions where Q4 revenue is higher than the annual average revenue

In [18]:
q4_revenues = val[:, 3]

In [19]:
annual_avg = annual_revenue.mean()

In [20]:
high_q4_mask = q4_revenues > annual_avg

In [21]:
high_q4_regions = df.loc[high_q4_mask, 'RegionName']

In [22]:
print("Regions where Q4 revenue is higher than annual average:")
print(high_q4_regions.tolist())

Regions where Q4 revenue is higher than annual average:
[]

### Q2.5: 2D Matrix Operations

#### Create a 2D matrix of quarterly revenues and compute column-wise totals (total revenue per quarter).

In [23]:
revenue_matrix = df[['Q1Revenue', 'Q2Revenue', 'Q3Revenue', 'Q4Revenue']].values
revenue_matrix

array([[104045, 199661, 181373,  86631],
       [147888,  93484, 165294, 122991],
       [157455, 132989, 174019,  54014],
       [186672,  86212, 115726,  61093],
       [143179,  93525, 191564,  68070],
       [ 95714, 113208, 165668,  85777],
       [152946,  83828,  56102, 106958],
       [159616, 199783, 168015, 132074],
       [155983,  53420,  76641,  60729],
       [174123, 146752, 153746, 155864]])

In [24]:
q_totals = revenue_matrix.sum(axis=0)
q_totals

array([1477621, 1202862, 1448148,  934201])

In [25]:
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
print("total Revenue per quarter:")
for q, total in zip(quarters, q_totals):
    print(f"{q}: ${total:,.0f}")

total Revenue per quarter:
Q1: $1,477,621
Q2: $1,202,862
Q3: $1,448,148
Q4: $934,201

### Q2.6: Min-Max Normalization

#### Normalize all revenue values between 0 and 1 using min-max normalization.

In [26]:
revenue_flat = val.flatten()
revenue_flat

array([104045, 199661, 181373,  86631, 147888,  93484, 165294, 122991,
       157455, 132989, 174019,  54014, 186672,  86212, 115726,  61093,
       143179,  93525, 191564,  68070,  95714, 113208, 165668,  85777,
       152946,  83828,  56102, 106958, 159616, 199783, 168015, 132074,
       155983,  53420,  76641,  60729, 174123, 146752, 153746, 155864])

In [27]:
min_val = revenue_flat.min()
max_val = revenue_flat.max()

In [28]:
min_val

np.int64(53420)

In [29]:
max_val

np.int64(199783)

In [30]:
normalized = (revenue_flat - min_val) / (max_val - min_val)

In [31]:
normalized

array([0.3458866 , 0.99916646, 0.87421684, 0.22690844, 0.64543635,
       0.27373038, 0.76435985, 0.47533188, 0.71080123, 0.54364149,
       0.82397191, 0.0040584 , 0.91042135, 0.22404569, 0.42569502,
       0.05242445, 0.61326291, 0.27401051, 0.9438451 , 0.1000936 ,
       0.28896647, 0.40849122, 0.76691514, 0.22107363, 0.67999426,
       0.20775743, 0.0183243 , 0.36578917, 0.72556589, 1.        ,
       0.78295061, 0.53738991, 0.70074404, 0.        , 0.15865348,
       0.04993748, 0.82468247, 0.63767482, 0.68546012, 0.69993099])

In [32]:
normalized[:10]

array([0.3458866 , 0.99916646, 0.87421684, 0.22690844, 0.64543635,
       0.27373038, 0.76435985, 0.47533188, 0.71080123, 0.54364149])

In [33]:
print("First 10 normalized values:", normalized[:10])
print("Min:", normalized.min())
print("Max:", normalized.max())

First 10 normalized values: [0.3458866  0.99916646 0.87421684 0.22690844 0.64543635 0.27373038
 0.76435985 0.47533188 0.71080123 0.54364149]
Min: 0.0
Max: 1.0

### Q2.7: Boolean Masking

#### Use Boolean indexing to filter regions with total annual revenue > 500,000.

In [34]:
high_revenue_mask = annual_revenue > 500000
high_revenue_mask

array([ True,  True,  True, False, False, False, False,  True, False,
        True])

In [35]:
high_revenue_regions = df.loc[high_revenue_mask, 'RegionName']
high_revenue_regions

0           North
1           South
2            East
7       Southeast
9    Central-East
Name: RegionName, dtype: object

In [36]:
print("Regions with total annual revenue > 500,000:")
print(high_revenue_regions.tolist())

Regions with total annual revenue > 500,000:
['North', 'South', 'East', 'Southeast', 'Central-East']

### Q2.8: Element-wise Division
#### Calculate the revenue per unit for each region and quarter (Revenue / Units).

In [37]:
revenue_per_unit = val / units
revenue_per_unit

array([[ 261.41959799,  481.11084337,  385.9       ,  303.96842105],
       [ 428.66086957,  190.78367347,  683.03305785,  759.2037037 ],
       [ 572.56363636,  322.78883495,  911.09424084,  186.89965398],
       [1352.69565217,  638.60740741,  255.46578366,  272.73660714],
       [ 532.26394052,  343.84191176,  455.02137767,  273.37349398],
       [ 276.6300578 ,  951.32773109,  428.08268734,  207.69249395],
       [1223.568     ,  199.59047619,  178.66878981,  681.2611465 ],
       [ 351.57709251,  550.36639118,  380.98639456,  299.48752834],
       [ 385.14320988,  107.05410822,  510.94      ,  150.31930693],
       [1554.66964286,  608.92946058,  610.1031746 ,  558.65232975]])

In [38]:
for i in range(revenue_per_unit.shape[0]):
    print(df["RegionName"][i],revenue_per_unit[i])

North [261.41959799 481.11084337 385.9        303.96842105]
South [428.66086957 190.78367347 683.03305785 759.2037037 ]
East [572.56363636 322.78883495 911.09424084 186.89965398]
West [1352.69565217  638.60740741  255.46578366  272.73660714]
Central [532.26394052 343.84191176 455.02137767 273.37349398]
Northeast [276.6300578  951.32773109 428.08268734 207.69249395]
Northwest [1223.568       199.59047619  178.66878981  681.2611465 ]
Southeast [351.57709251 550.36639118 380.98639456 299.48752834]
Southwest [385.14320988 107.05410822 510.94       150.31930693]
Central-East [1554.66964286  608.92946058  610.1031746   558.65232975]

### Q2.9: Statistical Analysis
#### Calculate the standard deviation of revenue and identify outlier regions (> 2 std deviations from mean)

In [39]:
revenue_mean = revenue_flat.mean()
revenue_mean

np.float64(126570.8)

In [40]:
revenue_std = revenue_flat.mean()
revenue_std

np.float64(126570.8)

In [41]:
outlier_mask = abs(revenue_flat-revenue_mean)>2*revenue_std
outlier_mask

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

### Q2.10: Correlation Matrix
#### Create a correlation matrix between quarterly revenues using NumPy.

In [42]:
cor = np.corrcoef(val.T)
cor

array([[ 1.        , -0.26172067, -0.3622283 ,  0.12233413],
       [-0.26172067,  1.        ,  0.59392186,  0.41592596],
       [-0.3622283 ,  0.59392186,  1.        ,  0.08891746],
       [ 0.12233413,  0.41592596,  0.08891746,  1.        ]])

In [45]:
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
print("Correlation Matrix (Quarterly Revenues):")
print("Quarters: Q1, Q2, Q3, Q4")
print(cor)

Correlation Matrix (Quarterly Revenues):
Quarters: Q1, Q2, Q3, Q4
[[ 1.         -0.26172067 -0.3622283   0.12233413]
 [-0.26172067  1.          0.59392186  0.41592596]
 [-0.3622283   0.59392186  1.          0.08891746]
 [ 0.12233413  0.41592596  0.08891746  1.        ]]