In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("demo_sales_missing.csv")

In [5]:
df

,OrderID,Date,Region,Product,Quantity,UnitPrice,TotalAmount,CustomerID,SalesRep,PaymentMethod
0,1001,2024-10-01,North,Laptop,5.0,1200.0,6000,201,Alice,Credit Card
1,1002,2024-10-02,South,Phone,3.0,800.0,2400,202,NaN,Debit Card
2,1003,2024-10-03,NaN,Tablet,2.0,650.0,1300,203,Bob,Cash
3,1004,2024-10-04,West,Tablet,NaN,700.0,2800,204,Charlie,NaN
4,1005,2024-10-05,East,NaN,8.0,1100.0,8800,205,Alice,UPI
5,1006,2024-10-06,South,Headphones,2.0,NaN,400,206,Diana,Credit Card
6,1007,2024-10-07,NaN,Charger,NaN,200.0,1000,207,Bob,Cash
7,1008,2024-10-08,West,Laptop,4.0,1200.0,4800,208,NaN,Debit Card
8,1009,2024-10-09,North,Phone,1.0,800.0,800,209,Alice,NaN
9,1010,2024-10-10,East,Charger,5.0,250.0,1250,210,Diana,UPI

In [6]:
most_region=df['Region'].mode()[0]
df['Region']=df['Region'].fillna(most_region)

In [7]:
df

,OrderID,Date,Region,Product,Quantity,UnitPrice,TotalAmount,CustomerID,SalesRep,PaymentMethod
0,1001,2024-10-01,North,Laptop,5.0,1200.0,6000,201,Alice,Credit Card
1,1002,2024-10-02,South,Phone,3.0,800.0,2400,202,NaN,Debit Card
2,1003,2024-10-03,East,Tablet,2.0,650.0,1300,203,Bob,Cash
3,1004,2024-10-04,West,Tablet,NaN,700.0,2800,204,Charlie,NaN
4,1005,2024-10-05,East,NaN,8.0,1100.0,8800,205,Alice,UPI
5,1006,2024-10-06,South,Headphones,2.0,NaN,400,206,Diana,Credit Card
6,1007,2024-10-07,East,Charger,NaN,200.0,1000,207,Bob,Cash
7,1008,2024-10-08,West,Laptop,4.0,1200.0,4800,208,NaN,Debit Card
8,1009,2024-10-09,North,Phone,1.0,800.0,800,209,Alice,NaN
9,1010,2024-10-10,East,Charger,5.0,250.0,1250,210,Diana,UPI

In [8]:
product=df['Product'].mode()[0]
df['Product']=df['Product'].fillna(product)

In [9]:
df

,OrderID,Date,Region,Product,Quantity,UnitPrice,TotalAmount,CustomerID,SalesRep,PaymentMethod
0,1001,2024-10-01,North,Laptop,5.0,1200.0,6000,201,Alice,Credit Card
1,1002,2024-10-02,South,Phone,3.0,800.0,2400,202,NaN,Debit Card
2,1003,2024-10-03,East,Tablet,2.0,650.0,1300,203,Bob,Cash
3,1004,2024-10-04,West,Tablet,NaN,700.0,2800,204,Charlie,NaN
4,1005,2024-10-05,East,Charger,8.0,1100.0,8800,205,Alice,UPI
5,1006,2024-10-06,South,Headphones,2.0,NaN,400,206,Diana,Credit Card
6,1007,2024-10-07,East,Charger,NaN,200.0,1000,207,Bob,Cash
7,1008,2024-10-08,West,Laptop,4.0,1200.0,4800,208,NaN,Debit Card
8,1009,2024-10-09,North,Phone,1.0,800.0,800,209,Alice,NaN
9,1010,2024-10-10,East,Charger,5.0,250.0,1250,210,Diana,UPI

In [10]:
payment=df['PaymentMethod'].mode()[0]
df['PaymentMethod']=df['PaymentMethod'].fillna('payment')

In [11]:
df.describe()   #described the data frame

          OrderID  Quantity    UnitPrice  TotalAmount  CustomerID
count    10.00000  8.000000     9.000000    10.000000    10.00000
mean   1005.50000  3.750000   766.666667  2955.000000   205.50000
std       3.02765  2.251983   369.966215  2744.939789     3.02765
min    1001.00000  1.000000   200.000000   400.000000   201.00000
25%    1003.25000  2.000000   650.000000  1062.500000   203.25000
50%    1005.50000  3.500000   800.000000  1850.000000   205.50000
75%    1007.75000  5.000000  1100.000000  4300.000000   207.75000
max    1010.00000  8.000000  1200.000000  8800.000000   210.00000

In [12]:
df

,OrderID,Date,Region,Product,Quantity,UnitPrice,TotalAmount,CustomerID,SalesRep,PaymentMethod
0,1001,2024-10-01,North,Laptop,5.0,1200.0,6000,201,Alice,Credit Card
1,1002,2024-10-02,South,Phone,3.0,800.0,2400,202,NaN,Debit Card
2,1003,2024-10-03,East,Tablet,2.0,650.0,1300,203,Bob,Cash
3,1004,2024-10-04,West,Tablet,NaN,700.0,2800,204,Charlie,payment
4,1005,2024-10-05,East,Charger,8.0,1100.0,8800,205,Alice,UPI
5,1006,2024-10-06,South,Headphones,2.0,NaN,400,206,Diana,Credit Card
6,1007,2024-10-07,East,Charger,NaN,200.0,1000,207,Bob,Cash
7,1008,2024-10-08,West,Laptop,4.0,1200.0,4800,208,NaN,Debit Card
8,1009,2024-10-09,North,Phone,1.0,800.0,800,209,Alice,payment
9,1010,2024-10-10,East,Charger,5.0,250.0,1250,210,Diana,UPI

In [13]:
add=0
c=0
for i in df["Quantity"]:
    print(str(i))
    if isinstance(i,float):
        print("inside if")
        add

5.0
inside if
3.0
inside if
2.0
inside if
nan
inside if
8.0
inside if
2.0
inside if
nan
inside if
4.0
inside if
1.0
inside if
5.0
inside if

In [14]:
import math
 
x = float('nan')

y = 10.0
 
print(f"Is x NaN? {math.isnan(x)}")  # Output: Is x NaN? True

print(f"Is y NaN? {math.isnan(y)}")  # Output: Is y NaN? False

Is x NaN? True
Is y NaN? False

In [16]:
df['UnitPrice'] = df.groupby('Product')['UnitPrice'].transform(
    lambda x: x.fillna(x.median())
)

In [17]:
percentile=(2.25/8) *100

In [18]:
percentile

28.125

In [19]:
percentile=(4.75/8) *100

In [20]:
percentile

59.375

In [15]:
df

,OrderID,Date,Region,Product,Quantity,UnitPrice,TotalAmount,CustomerID,SalesRep,PaymentMethod
0,1001,2024-10-01,North,Laptop,5.0,1200.0,6000,201,Alice,Credit Card
1,1002,2024-10-02,South,Phone,3.0,800.0,2400,202,NaN,Debit Card
2,1003,2024-10-03,East,Tablet,2.0,650.0,1300,203,Bob,Cash
3,1004,2024-10-04,West,Tablet,NaN,700.0,2800,204,Charlie,payment
4,1005,2024-10-05,East,Charger,8.0,1100.0,8800,205,Alice,UPI
5,1006,2024-10-06,South,Headphones,2.0,NaN,400,206,Diana,Credit Card
6,1007,2024-10-07,East,Charger,NaN,200.0,1000,207,Bob,Cash
7,1008,2024-10-08,West,Laptop,4.0,1200.0,4800,208,NaN,Debit Card
8,1009,2024-10-09,North,Phone,1.0,800.0,800,209,Alice,payment
9,1010,2024-10-10,East,Charger,5.0,250.0,1250,210,Diana,UPI

In [16]:
df.describe()

          OrderID  Quantity    UnitPrice  TotalAmount  CustomerID
count    10.00000  8.000000     9.000000    10.000000    10.00000
mean   1005.50000  3.750000   766.666667  2955.000000   205.50000
std       3.02765  2.251983   369.966215  2744.939789     3.02765
min    1001.00000  1.000000   200.000000   400.000000   201.00000
25%    1003.25000  2.000000   650.000000  1062.500000   203.25000
50%    1005.50000  3.500000   800.000000  1850.000000   205.50000
75%    1007.75000  5.000000  1100.000000  4300.000000   207.75000
max    1010.00000  8.000000  1200.000000  8800.000000   210.00000

In [23]:
import pandas as pd

In [24]:
df=pd.read_csv("sales_data_raw.csv")

In [102]:
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

## b)Display the number of missing values for each column

In [25]:
print(df.isnull().sum())

OrderID           0
Date              0
Region           10
Product           0
Category          0
Quantity          0
UnitPrice         0
CustomerID        0
SalesRep         10
PaymentMethod     5
TotalAmount       0
dtype: int64

# 2.Missing Values

## a) Fill missing Region and SalesRep values with the string "Unknown".

In [108]:
df['Region']=df['Region'].fillna("Unknown")

In [110]:
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

In [109]:
df['SalesRep']=df['SalesRep'].fillna("Unknown")

In [111]:
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

In [105]:
print(df['Region'].isnull().sum())

10

## b) For missing PaymentMethod, fill with the mode method.

In [69]:
df['PaymentMethod'].fillna(df['PaymentMethod'].mode()[0],inplace=True)

In [70]:
print(df['PaymentMethod'].isnull().sum())

0

# 3.Duplicates

## a)Count the number of duplicates rows in the dataset

In [71]:
df[df["OrderID"].isin(df["OrderID"][df["OrderID"].duplicated()])].sort_values("OrderID")

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
277,1362,2024-10-06,Central,Laptop,Electronics,16.0,19,5153,Frank,Cash,304,False,10,2024,False
463,1362,2024-10-06,Central,Laptop,Electronics,16.0,19,5153,Frank,Cash,304,False,10,2024,False
7,1416,2024-04-17,Central,Mouse,Accessories,5.0,899,5124,Eve,Debit Card,4495,False,4,2024,False
398,1416,2024-04-17,Central,Mouse,Accessories,5.0,899,5124,Eve,Debit Card,4495,False,4,2024,False

## b)Drop complete duplicates and reset the DataFrame index

In [106]:
df=df.drop_duplicates().reset_index(drop=True)

In [107]:
df[df["OrderID"].isin(df["OrderID"][df["OrderID"].duplicated()])].sort_values("OrderID")

Empty DataFrame
Columns: [OrderID, Date, Region, Product, Category, Quantity, UnitPrice, CustomerID, SalesRep, PaymentMethod, TotalAmount, outlier_mask, Month, Year, HighValue]
Index: []

## 4.Text cleaning and Standarization

### a) Remove leading/trailing spaces and set the 'Product' names to proper case (e.g., "Phone").

In [74]:
df['Product']=df['Product'].str.strip().str.title()

In [75]:
df['Product']

0           Phone
1           Phone
2          Laptop
3          Laptop
4        Keyboard
          ...
495    Headphones
496    Headphones
497        Tablet
498         Phone
499        Laptop
Name: Product, Length: 500, dtype: object

### b) Standardize 'Region' to title case (e.g., "North")

In [76]:
df['Region']=df['Region'].str.title()

In [77]:
df['Region']

0        North
1      Central
2         West
3        North
4        North
        ...
495      North
496       East
497       East
498    Central
499      South
Name: Region, Length: 500, dtype: object

## 5.Outlier Identification & Treatment

#### a) Calculate mean and standard deviation of Quantity. Identify rows where Quantity is more than

In [78]:
Quantity_mean=df['Quantity'].mean()

In [79]:
print(Quantity_mean)

9.735

In [80]:
Quantity_dev=df['Quantity'].std()

In [81]:
print(Quantity_dev)

5.386585710004292

In [82]:
df['outlier_mask']=df['Quantity']>(Quantity_mean+3*Quantity_dev)
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

In [83]:
df[df['outlier_mask']=='True']

Empty DataFrame
Columns: [OrderID, Date, Region, Product, Category, Quantity, UnitPrice, CustomerID, SalesRep, PaymentMethod, TotalAmount, outlier_mask, Month, Year, HighValue]
Index: []

In [173]:
#b)

In [85]:
product_median=df.groupby('Product')['Quantity'].transform('median')

In [86]:
product_median

0       9.00
1       9.00
2      10.00
3      10.00
4      10.00
       ...
495    11.00
496    11.00
497     9.25
498     9.00
499    10.00
Name: Quantity, Length: 500, dtype: float64

In [87]:
outlier_mask=df['Quantity']>(Quantity_mean+(3*Quantity_dev))

In [88]:
df.loc[outlier_mask,'Quantity']=product_median[outlier_mask]

In [89]:
df.sort_values(by='outlier_mask')

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
341,1222,2024-11-19,NaN,Tablet,Accessories,8.0,299,5171,Eve,Credit Card,2392,False,11,2024,False
340,1437,2024-04-01,West,Charger,Accessories,12.0,79,5187,Eve,Cash,948,False,4,2024,False
339,1411,2024-02-23,Central,Tablet,Electronics,7.0,299,5028,Diana,Net Banking,2093,False,2,2024,False
338,1143,2024-02-21,East,Keyboard,Accessories,1.0,19,5098,Frank,Cash,19,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,1300,2024-03-08,North,Charger,Electronics,4.0,899,5189,Diana,Debit Card,3596,False,3,2024,False
158,1272,2024-04-08,East,Mouse,Electronics,19.0,299,5046,Bob,Cash,5681,False,4,2024,False
157,1024,2024-06-09,Central,Tablet,Electronics,9.0,599,5113,Bob,Cash,5391,False,6,2024,False
170,1385,2024-01-20,South,Charger,Electronics,16.0,899,5046,Bob,Credit Card,14384,False,1,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

## Feature Engineering

#### a) Extract the month and year from the Date column into new columns.

In [90]:
df['Date']=pd.to_datetime(df['Date'])

In [91]:
df['Month']=df['Date'].dt.month

In [92]:
df['Year']=df['Date'].dt.year

In [93]:
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

#### b) Flag orders larger than the 95th percentile of TotalAmount with a boolean 'HighValue' column.

In [94]:
df['HighValue']=df['TotalAmount']> df['TotalAmount'].quantile(0.95)

In [95]:
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

In [96]:
df.sort_values(by="HighValue")

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
336,1029,2024-12-10,South,Tablet,Accessories,2.0,299,5109,Alice,UPI,598,False,12,2024,False
335,1036,2024-06-23,South,Headphones,Accessories,10.0,79,5069,Charlie,Credit Card,790,False,6,2024,False
334,1013,2024-04-09,East,Laptop,Electronics,14.0,79,5075,Alice,Credit Card,1106,False,4,2024,False
333,1160,2024-06-18,North,Tablet,Electronics,8.0,19,5002,Frank,Net Banking,152,False,6,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,1249,2024-05-07,Central,Headphones,Accessories,11.0,899,5109,Diana,Credit Card,155527,False,5,2024,True
426,1499,2024-01-16,North,Mouse,Electronics,9.0,1299,5055,Frank,Debit Card,187056,False,1,2024,True
95,1221,2024-09-03,South,Mouse,Accessories,17.0,1299,5178,Bob,UPI,22083,False,9,2024,True
80,1177,2024-04-30,West,Headphones,Electronics,18.0,1299,5188,Charlie,Net Banking,23382,False,4,2024,True
249,1372,2024-09-02,East,Charger,Electronics,19.0,1299,5142,Eve,Debit Card,24681,False,9,2024,True

In [97]:
df['HighValue']

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: HighValue, Length: 500, dtype: bool

In [98]:
df.sort_values(by="outlier_mask")

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
341,1222,2024-11-19,NaN,Tablet,Accessories,8.0,299,5171,Eve,Credit Card,2392,False,11,2024,False
340,1437,2024-04-01,West,Charger,Accessories,12.0,79,5187,Eve,Cash,948,False,4,2024,False
339,1411,2024-02-23,Central,Tablet,Electronics,7.0,299,5028,Diana,Net Banking,2093,False,2,2024,False
338,1143,2024-02-21,East,Keyboard,Accessories,1.0,19,5098,Frank,Cash,19,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,1300,2024-03-08,North,Charger,Electronics,4.0,899,5189,Diana,Debit Card,3596,False,3,2024,False
158,1272,2024-04-08,East,Mouse,Electronics,19.0,299,5046,Bob,Cash,5681,False,4,2024,False
157,1024,2024-06-09,Central,Tablet,Electronics,9.0,599,5113,Bob,Cash,5391,False,6,2024,False
170,1385,2024-01-20,South,Charger,Electronics,16.0,899,5046,Bob,Credit Card,14384,False,1,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

## 7. Aggregations & Grouping

#### a) Compute total and average revenue per Region and Product combination

In [177]:
revenue = df.groupby(['Region','Product'])['TotalAmount'].agg('mean','sum') 
print(revenue)

Region   Product
Central  Charger        4070.727273
         Headphones    21764.700000
         Keyboard       4196.083333
         Laptop         2956.000000
         Mouse          1645.882353
         Phone          4354.500000
         Tablet         6108.368421
East     Charger        4724.181818
         Headphones     5213.916667
         Keyboard       3485.187500
         Laptop         4896.571429
         Mouse          1926.900000
         Phone          5365.111111
         Tablet         2397.307692
North    Charger        5727.666667
         Headphones     3643.785714
         Keyboard       3702.461538
         Laptop         3346.538462
         Mouse         20697.333333
         Phone          5965.950000
         Tablet         1026.000000
South    Charger        4353.750000
         Headphones     6394.750000
         Keyboard       3440.000000
         Laptop         3603.842105
         Mouse          4836.266667
         Phone          7305.785714
         Tablet         7246.615385
Unknown  Charger        5196.000000
         Keyboard       2017.500000
         Laptop         2811.000000
         Mouse          9584.000000
         Phone          9437.500000
         Tablet         1845.500000
West     Charger        4332.100000
         Headphones     5656.800000
         Keyboard       3004.916667
         Laptop         4498.846154
         Mouse          2764.866667
         Phone          3891.333333
         Tablet         4533.944444
Name: TotalAmount, dtype: float64

#### b) For each month, show the best-selling product by total quantity.

In [167]:
monthly_best = df.groupby(['Year','Month','Product'])['Quantity'].sum()

In [174]:
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

In [168]:
monthly_best.head(20)

Year  Month  Product
2024  1      Charger       71.0
             Headphones    72.0
             Keyboard      14.0
             Laptop         2.0
             Mouse         34.0
             Phone         24.0
             Tablet        31.5
      2      Charger       50.0
             Headphones    74.0
             Keyboard      81.0
             Laptop        80.0
             Mouse         72.0
             Phone         19.0
             Tablet        41.0
      3      Charger       25.0
             Headphones     9.0
             Keyboard      49.0
             Laptop        49.0
             Mouse         40.0
             Phone         25.0
Name: Quantity, dtype: float64

In [169]:
monthly_best

Year  Month  Product
2024  1      Charger        71.0
             Headphones     72.0
             Keyboard       14.0
             Laptop          2.0
             Mouse          34.0
                           ...
      12     Keyboard       38.0
             Laptop         64.0
             Mouse          55.0
             Phone          81.0
             Tablet        103.0
Name: Quantity, Length: 83, dtype: float64

In [170]:
monthly_best = monthly_best.loc[monthly_best.groupby(['Year','Month'])['Quantity'].idxmax()]

KeyError: 'Column not found: Quantity'

In [171]:
monthly_best

Year  Month  Product
2024  1      Charger        71.0
             Headphones     72.0
             Keyboard       14.0
             Laptop          2.0
             Mouse          34.0
                           ...
      12     Keyboard       38.0
             Laptop         64.0
             Mouse          55.0
             Phone          81.0
             Tablet        103.0
Name: Quantity, Length: 83, dtype: float64

In [172]:
print(monthly_best)

Year  Month  Product
2024  1      Charger        71.0
             Headphones     72.0
             Keyboard       14.0
             Laptop          2.0
             Mouse          34.0
                           ...
      12     Keyboard       38.0
             Laptop         64.0
             Mouse          55.0
             Phone          81.0
             Tablet        103.0
Name: Quantity, Length: 83, dtype: float64

## 8. Pivot and Reshape

In [164]:
pivot_table_example = pd.pivot_table(df, 
                                     values='TotalAmount', 
                                     index='Region', 
                                               columns='Product', 
                                     aggfunc='sum', 
                                     fill_value=0)

In [165]:
pivot_table_example

Product  Charger  Headphones  Keyboard  Laptop   Mouse   Phone  Tablet
Region
Central    44778      217647    100706   50252   27980   43545  116059
East       51966       62567     55763   68552   19269   96572   31165
North     120281       51013     48132   43505  248368  119319    9234
South      69660       51158     30960   68473   72544  102281   94206
Unknown     5196           0      4035    5622    9584   18875    3691
West       43321       84852     36059   58485   41473   35022   81611

## 9. SalesRep Analytics

#### a) Which SalesRep handled the highest revenue overall? Show their total revenue.

In [175]:
df

,OrderID,Date,Region,Product,Category,Quantity,UnitPrice,CustomerID,SalesRep,PaymentMethod,TotalAmount,outlier_mask,Month,Year,HighValue
0,1305,2024-07-13,North,Phone,Electronics,14.0,599,5060,Diana,Net Banking,8386,False,7,2024,False
1,1500,2024-10-06,Central,Phone,Electronics,15.0,49,5199,Bob,Credit Card,735,False,10,2024,False
2,1442,2024-11-13,West,Laptop,Accessories,2.0,1299,5008,Charlie,Cash,2598,False,11,2024,False
3,1154,2024-11-22,North,Laptop,Accessories,10.0,19,5198,Eve,UPI,190,False,11,2024,False
4,1414,2024-02-22,North,Keyboard,Electronics,4.0,299,5063,Alice,Net Banking,1196,False,2,2024,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1072,2024-06-10,North,Headphones,Electronics,4.0,899,5158,Frank,Cash,3596,False,6,2024,False
496,1107,2024-09-17,East,Headphones,Electronics,7.0,1299,5149,Bob,Cash,9093,False,9,2024,False
497,1271,2024-08-20,East,Tablet,Accessories,15.0,49,5139,Eve,Credit Card,735,False,8,2024,False
498,1436,2024-10-01,Central,Phone,Electronics,3.0,49,5053,Eve,Credit Card,147,False,10,2024,False
499,1103,2024-05-18,South,Laptop,Accessories,15.0,79,5148,Diana,Credit Card,1185,False,5,2024,False

In [138]:
total_revenue=df.groupby('SalesRep')['TotalAmount'].sum()

In [139]:
total_revenue.head(20)

SalesRep
Alice      359421
Bob        298545
Charlie    481570
Diana      471371
Eve        393847
Frank      472159
Unknown     66868
Name: TotalAmount, dtype: int64

In [140]:
best_sales_rep=total_revenue.idxmax()

In [141]:
best_sales_rep

'Charlie'

In [142]:
highest_revenue=total_revenue.max()

In [146]:
(best_sales_rep,total_revenue[best_sales_rep].item())

('Charlie', 481570)

#### b) List the top 3 SalesReps by total orders handled each.

In [154]:
top_3_salesreps=df.groupby('SalesRep').agg({'OrderID':'count'})

In [153]:
top_3_salesreps.nlargest(3,'OrderID')

          OrderID
SalesRep
Charlie        91
Eve            90
Alice          80

### 10. Export the Cleaned Data Save the fully cleaned and engineered DataFrame to sales_data_cleaned.csv.

In [101]:
df.to_csv('sales_data_cleaned.csv', index=False)