In [5]:
import pandas as pd
df=pd.read_csv("car.csv")
print(df)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]

In [6]:
##Filter by most number of KMs driven
df.sort_values(by='Kms_Driven', ascending=False)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
196,Activa 3g,2008,0.17,0.52,500000,Petrol,Individual,Automatic,0
179,Honda Karizma,2010,0.31,1.05,213000,Petrol,Individual,Manual,0
84,innova,2005,3.49,13.46,197176,Diesel,Dealer,Manual,0
85,camry,2006,2.50,23.73,142000,Petrol,Individual,Automatic,3
77,corolla,2004,1.50,12.35,135154,Petrol,Dealer,Automatic,0
...,...,...,...,...,...,...,...,...,...
126,Bajaj Avenger 220,2017,0.90,0.95,1300,Petrol,Individual,Manual,0
103,Bajaj Dominar 400,2017,1.45,1.60,1200,Petrol,Individual,Manual,0
166,Hero Passion Pro,2016,0.45,0.55,1000,Petrol,Individual,Manual,0
165,Activa 3g,2016,0.45,0.54,500,Petrol,Individual,Automatic,0
133,Bajaj Avenger 220,2016,0.72,0.95,500,Petrol,Individual,Manual,0

In [17]:
##filter all records for transmission = manual (approach 1)
df1=df.query('Transmission=="Manual"')
print(df1)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[261 rows x 9 columns]

In [19]:
df.count

<bound method DataFrame.count of     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]>

In [23]:
df.count()

Car_Name         301
Year             301
Selling_Price    301
Present_Price    301
Kms_Driven       301
Fuel_Type        301
Seller_Type      301
Transmission     301
Owner            301
dtype: int64

In [22]:
df1.count()

Car_Name         261
Year             261
Selling_Price    261
Present_Price    261
Kms_Driven       261
Fuel_Type        261
Seller_Type      261
Transmission     261
Owner            261
dtype: int64

In [24]:
#filter with selling price greater than 5(appraoch 2)
df2=df[df['Transmission']=="Manual"]

In [25]:
df2

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [35]:
## filter with selling price greater than 5 and seller_type = dealerand kms_driven <20000
df5 = df.query('(Selling_Price > 5) & (Seller_Type == "Dealer") & (Kms_Driven < 20000)')

In [36]:
df5

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0
45,ciaz,2014,7.50,12.04,15000,Petrol,Dealer,Automatic,0
52,innova,2017,18.00,19.77,15000,Diesel,Dealer,Automatic,0
64,fortuner,2017,33.00,36.23,6000,Diesel,Dealer,Automatic,0
66,innova,2017,19.75,23.15,11000,Petrol,Dealer,Automatic,0
69,corolla altis,2016,14.25,20.91,12000,Petrol,Dealer,Manual,0
82,innova,2017,23.00,25.39,15000,Diesel,Dealer,Automatic,0
97,corolla altis,2017,17.00,18.64,8700,Petrol,Dealer,Manual,0
205,grand i10,2016,5.25,5.70,3493,Petrol,Dealer,Manual,1
206,xcent,2017,5.75,7.13,12479,Petrol,Dealer,Manual,0
208,i20,2017,7.90,8.10,3435,Petrol,Dealer,Manual,0
231,verna,2017,9.25,9.40,15001,Petrol,Dealer,Manual,0
232,elantra,2015,11.45,14.79,12900,Petrol,Dealer,Automatic,0
234,grand i10,2015,5.50,5.70,4492,Petrol,Dealer,Manual,0
235,verna,2017,9.10,9.40,15141,Petrol,Dealer,Manual,0
243,i20,2016,6.25,7.60,7000,Petrol,Dealer,Manual,0
249,i20,2016,5.25,7.60,17000,Petrol,Dealer,Manual,0
261,brio,2016,5.50,5.97,5600,Petrol,Dealer,Manual,0
263,jazz,2016,6.60,7.70,16002,Petrol,Dealer,Manual,0
267,city,2016,8.35,9.40,19434,Diesel,Dealer,Manual,0
269,city,2015,6.70,10.00,18828,Petrol,Dealer,Manual,0
274,brio,2014,5.30,6.80,16500,Petrol,Dealer,Manual,0
278,jazz,2016,6.00,8.40,4000,Petrol,Dealer,Manual,0
280,brio,2015,5.25,5.90,14465,Petrol,Dealer,Manual,0
283,city,2016,8.99,11.80,9010,Petrol,Dealer,Manual,0
285,jazz,2016,7.40,8.50,15059,Petrol,Dealer,Automatic,0
289,city,2016,10.11,13.60,10980,Petrol,Dealer,Manual,0
292,jazz,2016,6.40,8.40,12000,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [37]:
df5.count()

Car_Name         33
Year             33
Selling_Price    33
Present_Price    33
Kms_Driven       33
Fuel_Type        33
Seller_Type      33
Transmission     33
Owner            33
dtype: int64

## Given a sales DataFrame with 'Date', 'Product', 'Revenue', calculate monthly total revenue.

In [7]:
import pandas as pd

In [8]:
salesData1 = {
'Date': pd.date_range(start='2025-01-01', periods=12, freq='W'),
'Product': ['A', 'B', 'C'] * 4,
'Revenue': [100, 200, 150, 120, 220, 130, 110, 180, 170, 115, 235, 175]
}

In [9]:
salesData1

{'Date': DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26',
                '2025-02-02', '2025-02-09', '2025-02-16', '2025-02-23',
                '2025-03-02', '2025-03-09', '2025-03-16', '2025-03-23'],
               dtype='datetime64[ns]', freq='W-SUN'),
 'Product': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
 'Revenue': [100, 200, 150, 120, 220, 130, 110, 180, 170, 115, 235, 175]}

In [10]:
df=pd.DataFrame(salesData1)

In [8]:
df['Month'] = df['Date'].dt.to_period('M')

In [9]:
df

         Date Product  Revenue    Month
0  2025-01-05       A      100  2025-01
1  2025-01-12       B      200  2025-01
2  2025-01-19       C      150  2025-01
3  2025-01-26       A      120  2025-01
4  2025-02-02       B      220  2025-02
5  2025-02-09       C      130  2025-02
6  2025-02-16       A      110  2025-02
7  2025-02-23       B      180  2025-02
8  2025-03-02       C      170  2025-03
9  2025-03-09       A      115  2025-03
10 2025-03-16       B      235  2025-03
11 2025-03-23       C      175  2025-03

In [20]:
salesDatadf = df.groupby('Month').agg({'Revenue':'sum'}).rename(columns={'Revenue':'TotalRevenue'})
print(salesDatadf)

         TotalRevenue
Month
2025-01           570
2025-02           640
2025-03           695

In [11]:
data = {'Name': ['Jai', 'Princi', 'Gaurav','Anuj', 'Ravi', 'Natasha', 'Riya'],'Age': [17, 17, 18, 17, 18, 17, 17],'Gender': ['M', 'F', 'M', 'M', 'M', 'F', 'F'],'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}

In [12]:
df=pd.DataFrame(data)

In [13]:
df

      Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   NaN
3     Anuj   17      M    74
4     Ravi   18      M    65
5  Natasha   17      F   NaN
6     Riya   17      F    71

In [14]:
## NaN-Not a number

In [15]:
import numpy as np

In [16]:
add=0
c=0
for i in df["Marks"]:
    if str(i).isnumeric():
        add=add+i
        c+=1
    else:
        continue

In [17]:
add

376

In [18]:
c

5

In [19]:
avg=int(add/c)

In [22]:
df=df.replace(to_replace="NaN",value = avg)

In [21]:
df

      Name  Age Gender  Marks
0      Jai   17      M     90
1   Princi   17      F     76
2   Gaurav   18      M     75
3     Anuj   17      M     74
4     Ravi   18      M     65
5  Natasha   17      F     75
6     Riya   17      F     71

In [ ]:
## need to use mean,median,mod