## ASSIGNMENT 3: Introduction to Pandas

### Q3.1: Data Exploration
#### Load the student scores dataset and display its shape, info, and basic statistics.

In [35]:
import pandas as pd
import numpy as np
df = pd.read_csv('assignment3_student_scores(in).csv')
df

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71
3,1004,Student_4,NaN,33.0,10.0,36.0,B,94
4,1005,Student_5,99.0,NaN,15.0,45.0,A,92
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92
6,1007,Student_7,NaN,98.0,92.0,62.0,A,96
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92
11,1012,Student_12,NaN,13.0,32.0,45.0,F,99
12,1013,Student_13,NaN,8.0,38.0,NaN,F,69
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88
14,1015,Student_15,NaN,NaN,56.0,26.0,D,72
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82
20,1021,Student_21,38.0,35.0,NaN,23.0,D,76
21,1022,Student_22,NaN,70.0,36.0,6.0,F,85
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88
24,1025,Student_25,NaN,56.0,2.0,15.0,F,85
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93
28,1029,Student_29,NaN,91.0,83.0,62.0,F,66
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68
39,1040,Student_40,79.0,57.0,NaN,NaN,B,83
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94
42,1043,Student_43,40.0,NaN,50.0,12.0,A,95
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77
44,1045,Student_45,NaN,86.0,20.0,NaN,F,98
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83
47,1048,Student_48,NaN,89.0,60.0,89.0,A,82
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91
49,1050,Student_50,34.0,54.0,NaN,11.0,C,96

In [36]:
df.shape

(50, 8)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             50 non-null     int64
 1   Name                  50 non-null     object
 2   Math                  40 non-null     float64
 3   Science               47 non-null     float64
 4   English               47 non-null     float64
 5   History               45 non-null     float64
 6   Grade                 50 non-null     object
 7   AttendancePercentage  50 non-null     int64
dtypes: float64(4), int64(2), object(2)
memory usage: 3.2+ KB

In [38]:
df.describe()

,StudentID,Math,Science,English,History,AttendancePercentage
count,50.00000,40.000000,47.000000,47.000000,45.000000,50.000000
mean,1025.50000,45.750000,50.319149,41.170213,42.444444,82.480000
std,14.57738,31.264586,29.805242,29.300036,27.820492,11.556851
min,1001.00000,2.000000,0.000000,0.000000,4.000000,60.000000
25%,1013.25000,13.750000,29.000000,18.000000,21.000000,71.000000
50%,1025.50000,43.500000,54.000000,36.000000,41.000000,84.500000
75%,1037.75000,71.000000,71.000000,59.500000,62.000000,92.750000
max,1050.00000,99.000000,98.000000,97.000000,98.000000,99.000000

### Q3.2: Average Score Calculation
#### Calculate the average score across all subjects (Math, Science, English, History) for each student

In [39]:
df['Avg_Score'] = round(df[['Math', 'Science', 'English', 'History']].mean(axis = 1),2)
df['Avg_Score']

0     32.00
1     40.75
2     64.00
3     26.33
4     53.00
5     54.75
6     84.00
7     50.75
8     70.50
9     30.00
10    36.00
11    30.00
12    23.00
13    53.75
14    41.00
15    46.75
16    42.50
17    29.75
18    31.00
19    29.50
20    32.00
21    37.33
22    37.50
23    18.50
24    24.33
25    57.00
26    37.50
27    51.00
28    78.67
29    61.33
30    45.75
31    45.75
32    47.75
33    37.75
34    64.75
35    55.00
36    54.50
37    46.50
38    41.00
39    68.00
40    39.25
41    54.75
42    34.00
43    25.00
44    53.00
45    57.00
46    39.50
47    79.33
48    34.00
49    33.00
Name: Avg_Score, dtype: float64

In [40]:
df

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79,32.00
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83,40.75
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00
3,1004,Student_4,NaN,33.0,10.0,36.0,B,94,26.33
4,1005,Student_5,99.0,NaN,15.0,45.0,A,92,53.00
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75
6,1007,Student_7,NaN,98.0,92.0,62.0,A,96,84.00
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60,30.00
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92,36.00
11,1012,Student_12,NaN,13.0,32.0,45.0,F,99,30.00
12,1013,Student_13,NaN,8.0,38.0,NaN,F,69,23.00
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75
14,1015,Student_15,NaN,NaN,56.0,26.0,D,72,41.00
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90,42.50
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61,29.75
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94,31.00
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82,29.50
20,1021,Student_21,38.0,35.0,NaN,23.0,D,76,32.00
21,1022,Student_22,NaN,70.0,36.0,6.0,F,85,37.33
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67,37.50
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88,18.50
24,1025,Student_25,NaN,56.0,2.0,15.0,F,85,24.33
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85,37.50
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00
28,1029,Student_29,NaN,91.0,83.0,62.0,F,66,78.67
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84,37.75
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68,41.00
39,1040,Student_40,79.0,57.0,NaN,NaN,B,83,68.00
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94,39.25
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75
42,1043,Student_43,40.0,NaN,50.0,12.0,A,95,34.00
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77,25.00
44,1045,Student_45,NaN,86.0,20.0,NaN,F,98,53.00
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83,39.50
47,1048,Student_48,NaN,89.0,60.0,89.0,A,82,79.33
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91,34.00
49,1050,Student_50,34.0,54.0,NaN,11.0,C,96,33.00

### Q3.3: Missing Value Handling
#### Fill missing values in Math, Science, and English with their respective column means.

In [41]:
df.isnull().sum()

StudentID                0
Name                     0
Math                    10
Science                  3
English                  3
History                  5
Grade                    0
AttendancePercentage     0
Avg_Score                0
dtype: int64

In [42]:
math_mean = round(df['Math'].mean(),1)
math_mean

np.float64(45.8)

In [43]:
science_mean = round(df['Science'].mean(),1)
science_mean

np.float64(50.3)

In [44]:
english_mean = round(df['English'].mean(),1)
english_mean

np.float64(41.2)

In [45]:
df['Math'].fillna(math_mean, inplace = True)

C:\Users\vishnu prasath\AppData\Local\Temp\ipykernel_1460192\3894974629.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Math'].fillna(math_mean, inplace = True)

In [46]:
df['Science'].fillna(science_mean, inplace = True)

C:\Users\vishnu prasath\AppData\Local\Temp\ipykernel_1460192\1966348957.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Science'].fillna(science_mean, inplace = True)

In [47]:
df['English'].fillna(english_mean, inplace = True)

C:\Users\vishnu prasath\AppData\Local\Temp\ipykernel_1460192\3972699904.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['English'].fillna(english_mean, inplace = True)

In [48]:
df

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79,32.00
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83,40.75
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00
3,1004,Student_4,45.8,33.0,10.0,36.0,B,94,26.33
4,1005,Student_5,99.0,50.3,15.0,45.0,A,92,53.00
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75
6,1007,Student_7,45.8,98.0,92.0,62.0,A,96,84.00
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60,30.00
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92,36.00
11,1012,Student_12,45.8,13.0,32.0,45.0,F,99,30.00
12,1013,Student_13,45.8,8.0,38.0,NaN,F,69,23.00
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75
14,1015,Student_15,45.8,50.3,56.0,26.0,D,72,41.00
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90,42.50
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61,29.75
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94,31.00
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82,29.50
20,1021,Student_21,38.0,35.0,41.2,23.0,D,76,32.00
21,1022,Student_22,45.8,70.0,36.0,6.0,F,85,37.33
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67,37.50
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88,18.50
24,1025,Student_25,45.8,56.0,2.0,15.0,F,85,24.33
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85,37.50
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00
28,1029,Student_29,45.8,91.0,83.0,62.0,F,66,78.67
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84,37.75
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68,41.00
39,1040,Student_40,79.0,57.0,41.2,NaN,B,83,68.00
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94,39.25
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75
42,1043,Student_43,40.0,50.3,50.0,12.0,A,95,34.00
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77,25.00
44,1045,Student_45,45.8,86.0,20.0,NaN,F,98,53.00
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83,39.50
47,1048,Student_48,45.8,89.0,60.0,89.0,A,82,79.33
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91,34.00
49,1050,Student_50,34.0,54.0,41.2,11.0,C,96,33.00

In [49]:
df.isnull().sum()

StudentID               0
Name                    0
Math                    0
Science                 0
English                 0
History                 5
Grade                   0
AttendancePercentage    0
Avg_Score               0
dtype: int64

### Q3.4: Filtering by Performance
#### Filter students with an average score above the overall mean and display their names and average scores.

In [50]:
overall_mean = round(df['Avg_Score'].mean(),2)
overall_mean

np.float64(45.2)

In [51]:
above_mean = df[df['Avg_Score'] > overall_mean]
above_mean

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00
4,1005,Student_5,99.0,50.3,15.0,45.0,A,92,53.00
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75
6,1007,Student_7,45.8,98.0,92.0,62.0,A,96,84.00
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00
28,1029,Student_29,45.8,91.0,83.0,62.0,F,66,78.67
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50
39,1040,Student_40,79.0,57.0,41.2,NaN,B,83,68.00
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75
44,1045,Student_45,45.8,86.0,20.0,NaN,F,98,53.00
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00
47,1048,Student_48,45.8,89.0,60.0,89.0,A,82,79.33

In [52]:
above_mean[['Name','Avg_Score']].sort_values('Avg_Score', ascending = False)

          Name  Avg_Score
6    Student_7      84.00
47  Student_48      79.33
28  Student_29      78.67
8    Student_9      70.50
39  Student_40      68.00
34  Student_35      64.75
2    Student_3      64.00
29  Student_30      61.33
25  Student_26      57.00
45  Student_46      57.00
35  Student_36      55.00
41  Student_42      54.75
5    Student_6      54.75
36  Student_37      54.50
13  Student_14      53.75
4    Student_5      53.00
44  Student_45      53.00
27  Student_28      51.00
7    Student_8      50.75
32  Student_33      47.75
15  Student_16      46.75
37  Student_38      46.50
30  Student_31      45.75
31  Student_32      45.75

### Q3.5: Label-based Selection (loc)
#### Use loc[] to update a specific student's Math score (e.g., StudentID 1001) to a new value.

In [53]:
student_id = 1001
df.loc[df['StudentID'] == student_id, 'Math'] = 92

df.isnull().sum()

In [54]:
df.loc[df['StudentID']==student_id, ['Name', 'Math', 'Avg_Score']]

        Name  Math  Avg_Score
0  Student_1  92.0       32.0

### Q3.6: Integer-based Selection (iloc)
#### Use iloc[] to select the first 10 rows and the last 3 columns, display them

In [55]:
df.iloc[0:10, -3:]

  Grade  AttendancePercentage  Avg_Score
0     F                    79      32.00
1     A                    83      40.75
2     B                    71      64.00
3     B                    94      26.33
4     A                    92      53.00
5     B                    92      54.75
6     A                    96      84.00
7     F                    71      50.75
8     F                    62      70.50
9     A                    60      30.00

### Q3.7: Sorting
#### Sort students by AttendancePercentage in descending order and display the top 5.

In [56]:
df.sort_values('AttendancePercentage', ascending = False)

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score
11,1012,Student_12,45.8,13.0,32.0,45.0,F,99,30.00
44,1045,Student_45,45.8,86.0,20.0,NaN,F,98,53.00
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50
49,1050,Student_50,34.0,54.0,41.2,11.0,C,96,33.00
6,1007,Student_7,45.8,98.0,92.0,62.0,A,96,84.00
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75
42,1043,Student_43,40.0,50.3,50.0,12.0,A,95,34.00
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00
3,1004,Student_4,45.8,33.0,10.0,36.0,B,94,26.33
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94,39.25
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94,31.00
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00
4,1005,Student_5,99.0,50.3,15.0,45.0,A,92,53.00
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92,36.00
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91,34.00
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90,42.50
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88,18.50
21,1022,Student_22,45.8,70.0,36.0,6.0,F,85,37.33
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85,37.50
24,1025,Student_25,45.8,56.0,2.0,15.0,F,85,24.33
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84,37.75
39,1040,Student_40,79.0,57.0,41.2,NaN,B,83,68.00
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83,40.75
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83,39.50
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82,29.50
47,1048,Student_48,45.8,89.0,60.0,89.0,A,82,79.33
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79,32.00
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77,25.00
20,1021,Student_21,38.0,35.0,41.2,23.0,D,76,32.00
14,1015,Student_15,45.8,50.3,56.0,26.0,D,72,41.00
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50
12,1013,Student_13,45.8,8.0,38.0,NaN,F,69,23.00
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68,41.00
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67,37.50
28,1029,Student_29,45.8,91.0,83.0,62.0,F,66,78.67
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61,29.75
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60,30.00

### Q3.8: Conditional Column Creation
#### Create a new column 'PassFail' where 'Pass' if average score > 50, else 'Fail'.

In [57]:
df['PassFail'] = np.where(df['Avg_Score']>50, 'Pass', 'Fail')

In [58]:
df

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score,PassFail
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79,32.00,Fail
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83,40.75,Fail
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00,Pass
3,1004,Student_4,45.8,33.0,10.0,36.0,B,94,26.33,Fail
4,1005,Student_5,99.0,50.3,15.0,45.0,A,92,53.00,Pass
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75,Pass
6,1007,Student_7,45.8,98.0,92.0,62.0,A,96,84.00,Pass
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75,Pass
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50,Pass
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60,30.00,Fail
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92,36.00,Fail
11,1012,Student_12,45.8,13.0,32.0,45.0,F,99,30.00,Fail
12,1013,Student_13,45.8,8.0,38.0,NaN,F,69,23.00,Fail
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75,Pass
14,1015,Student_15,45.8,50.3,56.0,26.0,D,72,41.00,Fail
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75,Fail
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90,42.50,Fail
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61,29.75,Fail
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94,31.00,Fail
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82,29.50,Fail
20,1021,Student_21,38.0,35.0,41.2,23.0,D,76,32.00,Fail
21,1022,Student_22,45.8,70.0,36.0,6.0,F,85,37.33,Fail
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67,37.50,Fail
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88,18.50,Fail
24,1025,Student_25,45.8,56.0,2.0,15.0,F,85,24.33,Fail
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00,Pass
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85,37.50,Fail
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00,Pass
28,1029,Student_29,45.8,91.0,83.0,62.0,F,66,78.67,Pass
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33,Pass
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75,Fail
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75,Fail
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75,Fail
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84,37.75,Fail
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75,Pass
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00,Pass
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50,Pass
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50,Fail
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68,41.00,Fail
39,1040,Student_40,79.0,57.0,41.2,NaN,B,83,68.00,Pass
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94,39.25,Fail
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75,Pass
42,1043,Student_43,40.0,50.3,50.0,12.0,A,95,34.00,Fail
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77,25.00,Fail
44,1045,Student_45,45.8,86.0,20.0,NaN,F,98,53.00,Pass
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00,Pass
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83,39.50,Fail
47,1048,Student_48,45.8,89.0,60.0,89.0,A,82,79.33,Pass
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91,34.00,Fail
49,1050,Student_50,34.0,54.0,41.2,11.0,C,96,33.00,Fail

### Q3.9: Duplicate Removal
#### Identify and remove duplicate rows (if any) based on all columns.

In [60]:
df.duplicated().sum()

np.int64(0)

In [61]:
df.drop_duplicates()

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score,PassFail
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79,32.00,Fail
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83,40.75,Fail
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00,Pass
3,1004,Student_4,45.8,33.0,10.0,36.0,B,94,26.33,Fail
4,1005,Student_5,99.0,50.3,15.0,45.0,A,92,53.00,Pass
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75,Pass
6,1007,Student_7,45.8,98.0,92.0,62.0,A,96,84.00,Pass
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75,Pass
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50,Pass
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60,30.00,Fail
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92,36.00,Fail
11,1012,Student_12,45.8,13.0,32.0,45.0,F,99,30.00,Fail
12,1013,Student_13,45.8,8.0,38.0,NaN,F,69,23.00,Fail
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75,Pass
14,1015,Student_15,45.8,50.3,56.0,26.0,D,72,41.00,Fail
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75,Fail
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90,42.50,Fail
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61,29.75,Fail
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94,31.00,Fail
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82,29.50,Fail
20,1021,Student_21,38.0,35.0,41.2,23.0,D,76,32.00,Fail
21,1022,Student_22,45.8,70.0,36.0,6.0,F,85,37.33,Fail
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67,37.50,Fail
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88,18.50,Fail
24,1025,Student_25,45.8,56.0,2.0,15.0,F,85,24.33,Fail
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00,Pass
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85,37.50,Fail
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00,Pass
28,1029,Student_29,45.8,91.0,83.0,62.0,F,66,78.67,Pass
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33,Pass
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75,Fail
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75,Fail
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75,Fail
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84,37.75,Fail
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75,Pass
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00,Pass
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50,Pass
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50,Fail
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68,41.00,Fail
39,1040,Student_40,79.0,57.0,41.2,NaN,B,83,68.00,Pass
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94,39.25,Fail
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75,Pass
42,1043,Student_43,40.0,50.3,50.0,12.0,A,95,34.00,Fail
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77,25.00,Fail
44,1045,Student_45,45.8,86.0,20.0,NaN,F,98,53.00,Pass
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00,Pass
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83,39.50,Fail
47,1048,Student_48,45.8,89.0,60.0,89.0,A,82,79.33,Pass
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91,34.00,Fail
49,1050,Student_50,34.0,54.0,41.2,11.0,C,96,33.00,Fail

### Q3.10: Data Export
#### Export the cleaned and processed data to student_scores_cleaned.csv.

In [62]:
df.to_csv('student_scores_cleaned.csv', index = False)

## Challenge Extension

### Challenge 1: Create a grade categorization (A, B, C, D, F) based on average scores.

In [63]:
def get_grade(Avg_Score):
    if Avg_Score >= 90:
        return 'A'
    if Avg_Score >= 75:
        return 'B'
    if Avg_Score >= 60:
        return 'C'
    if Avg_Score >= 50:
        return 'D'
    else:
        return 'F'

In [64]:
df['Grade_Category'] = df['Avg_Score'].apply(lambda x: get_grade(x))

In [65]:
df

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score,PassFail,Grade_Category
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79,32.00,Fail,F
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83,40.75,Fail,F
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00,Pass,C
3,1004,Student_4,45.8,33.0,10.0,36.0,B,94,26.33,Fail,F
4,1005,Student_5,99.0,50.3,15.0,45.0,A,92,53.00,Pass,D
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75,Pass,D
6,1007,Student_7,45.8,98.0,92.0,62.0,A,96,84.00,Pass,B
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75,Pass,D
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50,Pass,C
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60,30.00,Fail,F
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92,36.00,Fail,F
11,1012,Student_12,45.8,13.0,32.0,45.0,F,99,30.00,Fail,F
12,1013,Student_13,45.8,8.0,38.0,NaN,F,69,23.00,Fail,F
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75,Pass,D
14,1015,Student_15,45.8,50.3,56.0,26.0,D,72,41.00,Fail,F
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75,Fail,F
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90,42.50,Fail,F
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61,29.75,Fail,F
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94,31.00,Fail,F
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82,29.50,Fail,F
20,1021,Student_21,38.0,35.0,41.2,23.0,D,76,32.00,Fail,F
21,1022,Student_22,45.8,70.0,36.0,6.0,F,85,37.33,Fail,F
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67,37.50,Fail,F
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88,18.50,Fail,F
24,1025,Student_25,45.8,56.0,2.0,15.0,F,85,24.33,Fail,F
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00,Pass,D
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85,37.50,Fail,F
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00,Pass,D
28,1029,Student_29,45.8,91.0,83.0,62.0,F,66,78.67,Pass,B
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33,Pass,C
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75,Fail,F
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75,Fail,F
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75,Fail,F
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84,37.75,Fail,F
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75,Pass,C
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00,Pass,D
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50,Pass,D
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50,Fail,F
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68,41.00,Fail,F
39,1040,Student_40,79.0,57.0,41.2,NaN,B,83,68.00,Pass,C
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94,39.25,Fail,F
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75,Pass,D
42,1043,Student_43,40.0,50.3,50.0,12.0,A,95,34.00,Fail,F
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77,25.00,Fail,F
44,1045,Student_45,45.8,86.0,20.0,NaN,F,98,53.00,Pass,D
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00,Pass,D
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83,39.50,Fail,F
47,1048,Student_48,45.8,89.0,60.0,89.0,A,82,79.33,Pass,B
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91,34.00,Fail,F
49,1050,Student_50,34.0,54.0,41.2,11.0,C,96,33.00,Fail,F

### Challenge 2: Calculate z-scores for each subject and identify outlier students

In [72]:
subjects = ['Math', 'Science', 'English', 'History']
subjects

['Math', 'Science', 'English', 'History']

In [73]:
for col in subjects:
    df[col + '_z'] = df[col].apply(lambda x: (x-df[col].mean()) / df[col].std())

In [78]:
df['Outlier']=df[[col+'_z' for col in subjects]].apply(lambda row: any(abs(row)>3))

In [79]:
df

,StudentID,Name,Math,Science,English,History,Grade,AttendancePercentage,Avg_Score,PassFail,Grade_Category,Math_z,Science_z,English_z,History_z,IsOutlier,Outlier
0,1001,Student_1,92.0,4.0,16.0,16.0,F,79,32.00,Fail,F,1.657795,-1.603896,-0.886684,-0.950538,False,NaN
1,1002,Student_2,71.0,40.0,23.0,29.0,A,83,40.75,Fail,F,0.904904,-0.357291,-0.640109,-0.483257,False,NaN
2,1003,Student_3,82.0,72.0,97.0,5.0,B,71,64.00,Pass,C,1.299275,0.750803,1.966541,-1.345930,False,NaN
3,1004,Student_4,45.8,33.0,10.0,36.0,B,94,26.33,Fail,F,0.001434,-0.599686,-1.098034,-0.231644,False,NaN
4,1005,Student_5,99.0,50.3,15.0,45.0,A,92,53.00,Pass,D,1.908758,-0.000623,-0.921909,0.091859,False,NaN
5,1006,Student_6,2.0,61.0,58.0,98.0,B,92,54.75,Pass,D,-1.568882,0.369895,0.592766,1.996929,False,NaN
6,1007,Student_7,45.8,98.0,92.0,62.0,A,96,84.00,Pass,B,0.001434,1.651129,1.790416,0.702919,False,NaN
7,1008,Student_8,29.0,85.0,58.0,31.0,F,71,50.75,Pass,D,-0.600879,1.200966,0.592766,-0.411367,False,NaN
8,1009,Student_9,63.0,64.0,89.0,66.0,F,62,70.50,Pass,C,0.618088,0.473779,1.684741,0.846698,False,NaN
9,1010,Student_10,32.0,46.0,18.0,24.0,A,60,30.00,Fail,F,-0.493323,-0.149523,-0.816234,-0.662981,False,NaN
10,1011,Student_11,21.0,0.0,70.0,53.0,F,92,36.00,Fail,F,-0.887695,-1.742408,1.015466,0.379417,False,NaN
11,1012,Student_12,45.8,13.0,32.0,45.0,F,99,30.00,Fail,F,0.001434,-1.292245,-0.323084,0.091859,False,NaN
12,1013,Student_13,45.8,8.0,38.0,NaN,F,69,23.00,Fail,F,0.001434,-1.465385,-0.111734,NaN,False,NaN
13,1014,Student_14,41.0,89.0,0.0,85.0,C,88,53.75,Pass,D,-0.170655,1.339477,-1.450284,1.529648,False,NaN
14,1015,Student_15,45.8,50.3,56.0,26.0,D,72,41.00,Fail,F,0.001434,-0.000623,0.522316,-0.591091,False,NaN
15,1016,Student_16,14.0,62.0,22.0,89.0,B,71,46.75,Fail,F,-1.138658,0.404523,-0.675334,1.673427,False,NaN
16,1017,Student_17,46.0,51.0,41.0,32.0,C,90,42.50,Fail,F,0.008604,0.023616,-0.006059,-0.375423,False,NaN
17,1018,Student_18,54.0,3.0,15.0,47.0,F,61,29.75,Fail,F,0.295420,-1.638524,-0.921909,0.163748,False,NaN
18,1019,Student_19,2.0,22.0,59.0,41.0,A,94,31.00,Fail,F,-1.568882,-0.980594,0.627991,-0.051920,False,NaN
19,1020,Student_20,6.0,14.0,0.0,98.0,F,82,29.50,Fail,F,-1.425474,-1.257617,-1.450284,1.996929,False,NaN
20,1021,Student_21,38.0,35.0,41.2,23.0,D,76,32.00,Fail,F,-0.278211,-0.530431,0.000986,-0.698925,False,NaN
21,1022,Student_22,45.8,70.0,36.0,6.0,F,85,37.33,Fail,F,0.001434,0.681547,-0.182184,-1.309986,False,NaN
22,1023,Student_23,13.0,85.0,8.0,44.0,A,67,37.50,Fail,F,-1.174510,1.200966,-1.168484,0.055914,False,NaN
23,1024,Student_24,8.0,41.0,18.0,7.0,D,88,18.50,Fail,F,-1.353770,-0.322663,-0.816234,-1.274041,False,NaN
24,1025,Student_25,45.8,56.0,2.0,15.0,F,85,24.33,Fail,F,0.001434,0.196756,-1.379834,-0.986483,False,NaN
25,1026,Student_26,91.0,27.0,53.0,NaN,D,69,57.00,Pass,D,1.621943,-0.807454,0.416641,NaN,False,NaN
26,1027,Student_27,70.0,43.0,23.0,14.0,B,85,37.50,Fail,F,0.869052,-0.253407,-0.640109,-1.022428,False,NaN
27,1028,Student_28,7.0,61.0,71.0,65.0,B,93,51.00,Pass,D,-1.389622,0.369895,1.050691,0.810753,False,NaN
28,1029,Student_29,45.8,91.0,83.0,62.0,F,66,78.67,Pass,B,0.001434,1.408733,1.473391,0.702919,False,NaN
29,1030,Student_30,35.0,61.0,88.0,NaN,D,63,61.33,Pass,C,-0.385767,0.369895,1.649516,NaN,False,NaN
30,1031,Student_31,3.0,26.0,92.0,62.0,A,70,45.75,Fail,F,-1.533030,-0.842082,1.790416,0.702919,False,NaN
31,1032,Student_32,5.0,76.0,81.0,21.0,F,88,45.75,Fail,F,-1.461326,0.889314,1.402941,-0.770815,False,NaN
32,1033,Student_33,3.0,69.0,34.0,85.0,B,95,47.75,Fail,F,-1.533030,0.646919,-0.252634,1.529648,False,NaN
33,1034,Student_34,62.0,8.0,40.0,41.0,B,84,37.75,Fail,F,0.582236,-1.465385,-0.041284,-0.051920,False,NaN
34,1035,Student_35,43.0,96.0,67.0,53.0,F,80,64.75,Pass,C,-0.098951,1.581873,0.909791,0.379417,False,NaN
35,1036,Student_36,61.0,43.0,20.0,96.0,D,95,55.00,Pass,D,0.546384,-0.253407,-0.745784,1.925040,False,NaN
36,1037,Student_37,94.0,58.0,7.0,59.0,B,69,54.50,Pass,D,1.729499,0.266012,-1.203709,0.595085,False,NaN
37,1038,Student_38,71.0,95.0,16.0,4.0,D,96,46.50,Fail,F,0.904904,1.547245,-0.886684,-1.381875,False,NaN
38,1039,Student_39,61.0,51.0,47.0,5.0,B,68,41.00,Fail,F,0.546384,0.023616,0.205291,-1.345930,False,NaN
39,1040,Student_40,79.0,57.0,41.2,NaN,B,83,68.00,Pass,C,1.191719,0.231384,0.000986,NaN,False,NaN
40,1041,Student_41,52.0,38.0,21.0,46.0,C,94,39.25,Fail,F,0.223716,-0.426547,-0.710559,0.127803,False,NaN
41,1042,Student_42,88.0,55.0,37.0,39.0,B,94,54.75,Pass,D,1.514387,0.162128,-0.146959,-0.123810,False,NaN
42,1043,Student_43,40.0,50.3,50.0,12.0,A,95,34.00,Fail,F,-0.206507,-0.000623,0.310966,-1.094317,False,NaN
43,1044,Student_44,44.0,1.0,26.0,29.0,F,77,25.00,Fail,F,-0.063099,-1.707780,-0.534434,-0.483257,False,NaN
44,1045,Student_45,45.8,86.0,20.0,NaN,F,98,53.00,Pass,D,0.001434,1.235594,-0.745784,NaN,False,NaN
45,1046,Student_46,87.0,96.0,27.0,18.0,D,91,57.00,Pass,D,1.478535,1.581873,-0.499209,-0.878649,False,NaN
46,1047,Student_47,7.0,1.0,96.0,54.0,B,83,39.50,Fail,F,-1.389622,-1.707780,1.931316,0.415361,False,NaN
47,1048,Student_48,45.8,89.0,60.0,89.0,A,82,79.33,Pass,B,0.001434,1.339477,0.663216,1.673427,False,NaN
48,1049,Student_49,80.0,31.0,3.0,22.0,D,91,34.00,Fail,F,1.227571,-0.668942,-1.344609,-0.734870,False,NaN
49,1050,Student_50,34.0,54.0,41.2,11.0,C,96,33.00,Fail,F,-0.421619,0.127500,0.000986,-1.130262,False,NaN

## Challenge 3: Generate a summary report by Grade (A, B, C, etc.) showing statistics.

In [86]:
grade_summary = df.groupby('Grade_Category').agg({'Avg_Score':['count', 'min', 'max'], 'AttendancePercentage':'mean'}).reset_index()

In [87]:
grade_summary

  Grade_Category Avg_Score               AttendancePercentage
                     count    min    max                 mean
0              B         3  78.67  84.00            81.333333
1              C         5  61.33  70.50            71.800000
2              D        11  50.75  57.00            86.545455
3              F        31  18.50  47.75            82.870968